 

<div  class="mainOuterDiv">
  <mat-card class="reset-password__card center  mat-elevation-z24">
    <!-- <div class="center" *ngIf="usertype === 'Operator '"> -->
      <h4 class="custom_clip-text">{{title}}</h4>
      <br>
   <!-- <div class="feedText">
    Your feedback is valuable to us  -->
    <!-- <div class="app-loader" *ngIf="isFeedbackLoaded" >
      <mat-spinner></mat-spinner>
      <h1 class="spinner-text" data-text="Loading…">Loading…</h1>
    </div> -->
      <form class = "reset-password" [formGroup]="feedbackform"  (ngSubmit)="sendFeedBack(feedbackform)">
          <!-- <mat-card class="mat-elevation-z24">  -->
        <mat-form-field class="full-width__50">
          <input matInput placeholder="Hospital Code:" title="Hospital Code " formControlName="ophospital_code"   
          value= "{{hospCode}}" readonly>
          <mat-icon matSuffix>local_offer</mat-icon>
          <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('ophospital_code').hasError('required')" align="end">Please
            enter  hospital code</mat-hint> -->
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field class="full-width__50">
          <input matInput placeholder="Hospital Name:" title="Hospital Name " formControlName="ophospital_name"   
          value= "{{hospName}}" readonly>
          <mat-icon matSuffix>local_hospital</mat-icon>
          <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('ophospital_name').hasError('required')" align="end">Please
            enter hospital name</mat-hint> -->
        </mat-form-field>
      <!-- </mat-card> -->
       
        <mat-card class="mat-elevation-z24"> 
            <mat-form-field class="full-width__50">
                <input matInput placeholder="Name*:" title="Name " formControlName="opname"   >{{name}}
                <mat-icon matSuffix>person</mat-icon>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('opname').hasError('required')" align="end">please
                  enter your password</mat-hint>  -->
              </mat-form-field>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50">
                <input matInput placeholder="Email*:" title="Email" formControlName="opemail"   >{{emailid}}
                <mat-icon matSuffix>email</mat-icon>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('opemail').hasError('required')" align="end">please
                  enter your password</mat-hint>  -->
              </mat-form-field>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50">
                <input matInput placeholder="Password*:"  title="Password" formControlName="oppass"   >{{pass}}
                <mat-icon matSuffix>lock</mat-icon>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('oppass').hasError('required')" align="end">please
                  enter your password</mat-hint>  -->
              </mat-form-field>
              &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50">
            <input matInput placeholder="Phone*:"  title="Phone"  formControlName="opmobile"   
            [type]="'number'" value= "{{mobile}}">
            <mat-icon matSuffix>phone</mat-icon>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('opmobile').hasError('required')" align="end">Please
              enter the Phone Number</mat-hint> -->
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50"  >
            <mat-label>Leads:</mat-label>
            <!-- <mat-icon matSuffix>accessibility</mat-icon> -->
            <mat-icon matSuffix>favorite</mat-icon>
            <!-- <span matSuffix>cloud</span> -->
            <mat-select  [(value)]="defaultTYPE" 
             (selectionChange)="change_op_type($event.value)" title="Lead Selection" >
              <mat-option value="6" >SIX</mat-option>
              <mat-option value="12">TWELVE</mat-option>
              <mat-option value="B">BOTH</mat-option> 
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('leads').hasError('required')" align="end">Please
              select leads</mat-hint> -->
          </mat-form-field>
          <br>
          <mat-form-field class="full-width__50"  >
            <mat-label>Clouds:</mat-label>
            <mat-icon matSuffix>cloud</mat-icon>
            <mat-select  [(value)]="defaultZERO" 
            (selectionChange)="change_op_cloud_analyser_enabled($event.value)" title="Cloud Interpretation">
              <mat-option value="0">NO</mat-option>
              <mat-option value="1">YES</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('leads').hasError('required')" align="end">Please
              select cloud analyser enabled</mat-hint> -->
          </mat-form-field>  
          <!-- &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50"  >
            <mat-label style="padding-left: -2rem">Disabled:</mat-label>
            <mat-icon matSuffix>not_interested</mat-icon>
            <mat-select [(value)]="defaultZERO" 
            (selectionChange)="change_op_markas_delete($event.value)">
              <mat-option value="0">NO</mat-option>
              <mat-option value="1">YES</mat-option>
            </mat-select>
            <mat-hint *ngIf="submitted && resetPasswordForm.get('leads').hasError('required')" align="end">Please
              select cloud analyser enabled</mat-hint>
          </mat-form-field>   -->
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50"  >
            <mat-label style="padding-left: -2rem">Mode:</mat-label>
            <mat-icon matSuffix>accessibility</mat-icon>
            <!-- <mat-select [formControl]="mode" (selectionChange)="change_mode($event.value)"> -->
            <mat-select [(value)]="defaultMode" (selectionChange)="change_mode($event.value)" title="To acquire ECG data in different ECG modes">
              <mat-option value="0">12LE</mat-option>
              <mat-option value="1">12LR</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('mode').hasError('required')" align="end">Please
              select cloud analyser enabled</mat-hint> -->
          </mat-form-field> 
          &nbsp;&nbsp;&nbsp;&nbsp;

          <mat-form-field class="full-width__50"  >
            <mat-label style="padding-left: -2rem">PDF and De-Noised Data Sync:</mat-label>
            <mat-icon matSuffix>picture_as_pdf</mat-icon>
            <mat-select  [(value)]="defaultpdfsync" (selectionChange)="change_pdf($event.value)"  title="To send PDF report and De-Noised data from App to Server">
              <mat-option value="0">Disabled</mat-option>
              <mat-option value="1">Enabled</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('pdfDenoiseSync').hasError('required')" align="end">Please
              select PDF and De-Noised Data Sync</mat-hint> -->
          </mat-form-field> 
          &nbsp;&nbsp;&nbsp;&nbsp;

          <mat-form-field class="full-width__50"  >
            <mat-label style="padding-left: -2rem">Sync:</mat-label>
            <mat-icon matSuffix>sync</mat-icon>
            <mat-select [(value)]="defaultsync" (selectionChange)="change_sync($event.value)" title="To sync ECG data and Patient details to our server">
              <mat-option value="0">Disabled</mat-option>
              <mat-option value="1">Enabled</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('sync').hasError('required')" align="end">Please
              select Sync</mat-hint> -->
          </mat-form-field> 
          &nbsp;&nbsp;&nbsp;&nbsp;
          

          <mat-form-field class="full-width__50"  >
              <mat-label style="padding-left: -2rem">Log Level:</mat-label>
              <mat-icon matSuffix>note</mat-icon>
              <mat-select [(value)]="defaultlog" (selectionChange)="change_logLevel($event.value)" title="Log Levels">
                  <mat-option value="0">ALL</mat-option>
                  <mat-option value="1">TRACE</mat-option>
                  <mat-option value="2">DEBUG</mat-option>
                  <mat-option value="3">INFO</mat-option>
                  <mat-option value="4">WARN</mat-option>
                  <mat-option value="5">ERROR</mat-option>
                  <mat-option value="6">FATAL</mat-option>
              </mat-select>
              <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('logLevel').hasError('required')" align="end">Please
                select logLevel</mat-hint> -->
            </mat-form-field> 
           
            <br>
              <mat-form-field class="full-width__50">
                <input matInput placeholder="Session Timeout:" formControlName="opsesTimeout"   
                value= "{{sesTimeout}}" title="Login Session Timeout">
                <mat-icon matSuffix>timer</mat-icon>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('opsesTimeout').hasError('required')" align="end">Please
                  enter the Phone Number</mat-hint> -->
              </mat-form-field>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                  <mat-label style="padding-left: -2rem">Sampling Frequency:</mat-label>
                  <mat-icon matSuffix>timeline</mat-icon>
                  <mat-select [(value)]="defaultFreq" (selectionChange)="change_sampFreq($event.value)" title="Sampling Frequency Selection">
                    <mat-option value="122">122</mat-option>
                    <mat-option value="244">244</mat-option>
                  </mat-select>
                  <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('mode').hasError('required')" align="end">Please
                    select Sampling Frequency</mat-hint> -->
                </mat-form-field> 
                &nbsp;&nbsp;&nbsp;&nbsp;

               <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Thermal Printer:</mat-label>
                <mat-icon matSuffix>local_printshop</mat-icon>
                <mat-select [(value)]="defaulttprint"  (selectionChange)="change_tPrinter($event.value)" title="To print ECG report on Thermal paper">
                  <mat-option value="0">Disabled</mat-option>
                  <mat-option value="1">Enabled</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('tPrinter').hasError('required')" align="end">Please
                  select terminal printer</mat-hint> -->
              </mat-form-field> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">User Type:</mat-label>
                <mat-icon matSuffix>supervised_user_circle</mat-icon>
                <mat-select [(value)]="defaulttype"  (selectionChange)="change_userType($event.value)" title="User Category">
                  <mat-option value="1">Normal user</mat-option>
                  <mat-option value="2">Third Party user</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('userType').hasError('required')" align="end">Please
                  select terminal printer</mat-hint> -->
              </mat-form-field> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Spot Check Monitor:</mat-label>
                <mat-icon matSuffix>fullscreen_exit</mat-icon>
                <mat-select [(value)]="defaultspotcheck" (selectionChange)="change_spotMonitor($event.value)" title="To collect Patient Vitals using Spot-Check Monitor">
                    <mat-option value="0">Disabled</mat-option>
                    <mat-option value="1">Enabled</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('spotMonitor').hasError('required')" align="end">Please
                  select Spot Check Monitor</mat-hint> -->
              </mat-form-field> 
              <br>
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Patient Name:</mat-label>
                <mat-icon matSuffix>person</mat-icon>
                <mat-select [(value)]="defaultpatname" (selectionChange)="change_patientName($event.value)" title="To make Patient Name either mandatory or optional">
                  <mat-option value="0">Not Mandatory</mat-option>
                  <mat-option value="1">Mandatory</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('patientName').hasError('required')" align="end">Please
                  select Patient Name</mat-hint> -->
              </mat-form-field> 
              &nbsp;&nbsp;&nbsp;&nbsp;

              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Patient Age:</mat-label>
                <mat-icon matSuffix>face</mat-icon>
                <mat-select [(value)]="defaultpatage" (selectionChange)="change_patientAge($event.value)" title="To make Patient Age either mandatory or optional">
                  <mat-option value="0">Not Mandatory</mat-option>
                  <mat-option value="1">Mandatory</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('patientAge').hasError('required')" align="end">Please
                  select Patient Age</mat-hint> -->
              </mat-form-field> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Patient Mobile Number:</mat-label>
                <mat-icon matSuffix>contact_phone</mat-icon>
                <mat-select [(value)]="defaultpatphone" (selectionChange)="change_patientPhone($event.value)" title="To make Patient Mobile Number either mandatory or optional">
                  <mat-option value="0">Not Mandatory</mat-option>
                  <mat-option value="1">Mandatory</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('patientPhone').hasError('required')" align="end">Please
                  select Patient Mobile Number</mat-hint> -->
              </mat-form-field> 
             &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">ECG Report to Operator Email:</mat-label>
                <mat-icon matSuffix>contact_mail</mat-icon>
                <mat-select [(value)]="defaultecgrep" (selectionChange)="change_ecgRep($event.value)" title="To send ECG report to operator email">
                  <mat-option value="0">Disabled</mat-option>
                  <mat-option value="1">Enabled</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('ecgRep').hasError('required')" align="end">Please
                  select ECG Report to Operator Email</mat-hint> -->
              </mat-form-field> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">QR Code In PDF report:</mat-label>
                <mat-icon matSuffix>picture_as_pdf</mat-icon>
                <mat-select [(value)]="defaultqr" (selectionChange)="change_qrCode($event.value)" title="To display QR code in ECG report">
                  <mat-option value="0">Disabled</mat-option>
                  <mat-option value="1">Enabled</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('qrCode').hasError('required')" align="end">Please
                  select QR Code In PDF report</mat-hint> -->
              </mat-form-field> 
              <br>
              
              <mat-form-field class="full-width__50">
                <input matInput placeholder="City Name:" formControlName="opcity_name"   
                value= "{{city_name}}" title="City Name">
                <mat-icon matSuffix>location_city</mat-icon>
              </mat-form-field>
              &nbsp;&nbsp;&nbsp;&nbsp;
               <mat-form-field class="full-width__50">
                <input matInput placeholder="Country Code:" formControlName="opcountry_code"   
                value= "{{country_code}}" title="Country Code">
                <mat-icon matSuffix>language</mat-icon>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('opcountry_code').hasError('required')" align="end">Please
                  enter  country code</mat-hint> -->
              </mat-form-field>
              
             <!-- &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50">
                <input matInput placeholder="Last Reset Password:" formControlName="oplast_reset_password_time"   
                value= "{{last_reset_password_time}}">
                <mat-icon matSuffix>memory</mat-icon>
                <mat-hint *ngIf="submitted && resetPasswordForm.get('oplast_reset_password_time').hasError('required')" align="end">Please
                  enter last_reset_password_time</mat-hint>
              </mat-form-field>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50">
                <input matInput placeholder="Terms Condition:" formControlName="opterms_condition"   
                value= "{{terms_condition}}">
                <mat-icon matSuffix>note</mat-icon>
                <mat-hint *ngIf="submitted && resetPasswordForm.get('opterms_condition').hasError('required')" align="end">Please
                  enter terms condition</mat-hint>
              </mat-form-field> -->
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">City Classification:</mat-label>
                <mat-icon matSuffix>domain</mat-icon>
                <mat-select [(value)]="defaulclass" (selectionChange)="change_city_classification($event.value)" title="City Classification">
                  <mat-option value="Tier 1">Tier 1</mat-option>
                  <mat-option value="Tier 2">Tier 2</mat-option>
                  <mat-option value="Tier 3">Tier 3</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('is_admin').hasError('required')" align="end">Please
                  select ECG Report to Operator Email</mat-hint> -->
              </mat-form-field> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Qualification:</mat-label>
                <mat-icon matSuffix>notes</mat-icon>
                <mat-select (selectionChange)="change_qualification($event.value)" title="Qualification">
                  <mat-option *ngFor="let option of qualificationList" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Speciality:</mat-label>
                <mat-icon matSuffix>person_pin</mat-icon>
                <mat-select (selectionChange)="change_speciality($event.value)" title="Speciality">
                  <mat-option *ngFor="let option of specialityList" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field> 
              <br>
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Role:</mat-label>
                <mat-icon matSuffix>person</mat-icon>
                <mat-select [(value)]="defaultrole" (selectionChange)="change_role($event.value)" title="Role">
                  <mat-option value="Technician">Technician</mat-option>
                  <mat-option value="Doctor">Doctor</mat-option>
                  <mat-option value="Marketing">Marketing</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('is_admin').hasError('required')" align="end">Please
                  select ECG Report to Operator Email</mat-hint> -->
              </mat-form-field> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Region:</mat-label>
                <mat-icon matSuffix>open_with</mat-icon>
                <mat-select [(value)]="defaultreg" (selectionChange)="change_region($event.value)" title="Region">
                  <mat-option value="North">North</mat-option>
                  <mat-option value="South">South</mat-option>
                  <mat-option value="East">East</mat-option>
                  <mat-option value="West">West</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('is_admin').hasError('required')" align="end">Please
                  select ECG Report to Operator Email</mat-hint> -->
              </mat-form-field> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="full-width__50"  >
                <mat-label style="padding-left: -2rem">Is Admin:</mat-label>
                <mat-icon matSuffix>person_pin</mat-icon>
                <mat-select [(value)]="defaultadm" (selectionChange)="change_is_admin($event.value)" title="Is Admin">
                  <mat-option value="0">FALSE</mat-option>
                  <mat-option value="1">TRUE</mat-option>
                </mat-select>
                <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('is_admin').hasError('required')" align="end">Please
                  select ECG Report to Operator Email</mat-hint> -->
              </mat-form-field> 
              <br>
        </mat-card>     
        <br>
        <br>
        <br>
        <button mat-raised-button  style="background-color: lightcoral; color:white"  type="button" (click)="close()">
          <mat-icon>close</mat-icon> &nbsp; Cancel
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="warn" type="submit" [disabled]=feedbackform.invalid>
          <mat-icon>done</mat-icon> &nbsp; Add
        </button>
        <br>
        <br>
        <br>
      </form>
<!-- </div> -->
    <!-- </div> -->


     
  </mat-card>
</div>

