

 <div style="background-color: #FFFFFF;">
<div class="app-loader" *ngIf="isDashboardLoadedNotLoaded">
  <mat-spinner></mat-spinner>
  <h1 class="spinner-text" data-text="Loading…">Loading…</h1>
</div>
<div id="top">
<section class="dashboard-count">
  <div class="row" *ngIf="dashboardData">

    <div class="col-lg-3">
      <div class="overall">
          <h5  style="color:#000000" id="ovr">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-family: Calibri;">Overall System Statistics</b></h5>
          <div class="recordSection">
              <div class="record" [routerLink]="['/patient/patient-list']">
                <h4 style="color:#1A44A1" class="mat-h4 tiles-font1"> <span style="font-size: 32px;font-family: Calibri ;cursor: pointer;">  <b style="font-family: Calibri ;"> {{dashboardData.totalNumberOfPatients}}</b></span> <br><b class="family" style="cursor: pointer;" > RECORDS</b></h4>
             
                <!-- <h3 style="color:#1A44A1">5688</h3>
                <h6 style="color:#1A44A1">Records</h6> -->
              </div>
              <div class="record">
                <h4  style="color:#673AB7;padding-right:40px;"class="mat-h4 tiles-font2"> <span style="font-size: 32px;font-family: Calibri ;">  <b style="font-family: Calibri ;">{{dashboardData.devices}}</b></span><br> <b  class="family">ACTIVE STATIONS </b></h4>
             
                   <!-- <h3 style="color:#673AB7">01</h3>
                  <h6 style="color:#673AB7">Active station</h6> -->
              </div>
  
          </div>
      </div>
      <div class="overall">
          <h5 id="ovr"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-family: Calibri;" >Overall AI Risk Classification </b></h5>
          <div class="recordSection">
              <div class="record "  [routerLink]="['/patient/patient-list/High']">
                <h4  style="color:#FF0000;margin-left: 30px;" class="mat-h4 tiles-font"> <span style="font-size: 32px;font-family: Calibri ;">   <b style="font-family: Calibri ;cursor: pointer"> {{dashboardData.totalsevere}} </b></span> <br><b  class="family" style="cursor: pointer;"> HIGH </b></h4>
             
                  <!-- <h3 style="color:#FF0000">5688</h3>
                  <h6 style="color: #FF0000">High</h6> -->
              </div>
              <div class="record" [routerLink]="['/patient/patient-list/Moderate']">
                <h4  style="color:#F2994A"class="mat-h4 tiles-font"> <span style="font-size: 32px;font-family: Calibri ;">   <b style="font-family: Calibri ;cursor: pointer;"> {{dashboardData.totalmoderate}}</b></span> <br><b  class="family" style="cursor: pointer;">MODERATE </b></h4>
            
                  <!-- <h3 style="color:#F2994A">1270</h3>
                  <h6 style="color: #F2994A">Moderate</h6> -->
                </div>
                <div class="record" [routerLink]="['/patient/patient-list/Low']">
                  <h4 style="color:#1ACAFF;margin-right: 45px;" class="mat-h4 tiles-font"> <span style="font-size: 32px;font-family: Calibri ;"><b style="font-family: Calibri ;cursor: pointer;">  {{dashboardData.totallow}}</b></span> <br> <b  class="family"style="cursor: pointer;">LOW</b> </h4>
            
                  <!-- <h3  >1003</h3>
                  <h6 style="color: #1ACAFF">Low</h6> -->
                </div>

            
          </div>
      </div>
      <div class="overall">
          <h5 id="ovr"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="font-family: Calibri;">Past 24 Hours AI Pending Records </b></h5>
          <div class="recordSection">
            <div class="record"[routerLink]="['/patient/patient-list/Emergency_Past_24_Hours']">
              <h4  style="color:#EB5757;margin-left: 30px;" class="mat-h4 tiles-font"> <span style="font-size: 32px;font-family: Calibri ;cursor: pointer;">  <b style="font-family: Calibri ;">{{dashboardData.emergencypending}}</b></span> <br> <b class="family"style="cursor: pointer;"> EMERGENCY </b></h4>
<!--             
              <h3 style="color:#EB5757">0</h3>
              <h6 style="color: #EB5757">Emergency</h6> -->
            </div>
            <div class="vl"></div>
            <div class="record" [routerLink]="['/patient/patient-list/Not Normal Pending']">
              <h4 style="color:#F2C94C" class="mat-h4 tiles-font"><span style="font-size: 32px;font-family: Calibri ;cursor: pointer;">  <b style="font-family: Calibri ;">{{dashboardData.notnormalpending}}</b></span><br> <b class="family"style="cursor: pointer;">NOT NORMAL </b></h4>
           
              <!-- <h3 style="color:#F2C94C">0</h3>
              <h6 style="color: #F2C94C">Not Normal</h6> -->
            </div>
            <div class="record" [routerLink]="['/patient/patient-list/Normal Pending']">
              <h4  style="color:#27AE60;margin-right: 25px;"class="mat-h4 tiles-font">
                <span style="font-size: 32px; "> <b style="font-family: Calibri ;cursor: pointer;">{{dashboardData.normalpending}}</b></span><br><span style="font-size: 13px;margin-top: -20px;" > <b class="family"style="cursor: pointer;"> NORMAL </b></span></h4>
           
              <!-- <h3 style="color:#27AE60">0</h3>
              <h6 style="color: #27AE60">Normal</h6> -->
            </div>
  
          </div>

      </div>
     
  </div>
  

<div class="col-7 dchart">
  
  <!-- (swipeleft)="nextChart(chartIndex)" (swiperight)="previousChart(chartIndex)"> -->
 <div  *ngIf="is_thirdparty_doctor === '0'" >
  <div style="border-bottom: 1px solid  #E2E2E2;text-align: center;padding:4px;font-size: 18px;margin-top:10px;font-family: Calibri;"><b style="font-family: Calibri;font-size: 18px;">{{dashboardData.hospitalData[chartIndex].hospital_name}}</b></div>
  <h5 style=" text-align: right;margin-top: -25px;color:#7DB4EA;font-size: 14px;font-family: Calibri;margin-right: 20px;" (click)="nextChart(chartIndex)">NEXT</h5>
  <h5 style="margin-top:-25px;color:#7DB4EA;font-size: 14px;margin-left: 24px ;font-family: Calibri;" (click)="previousChart(chartIndex)">PREVIOUS</h5><br><br>
</div>
<br>
  <div style="background-color: #FFFFFF;">
  

  <div class="col-5" style="margin-left:36px;" >
<h6 style="text-align: center;margin-top: -0.5rem;font-size:18px;font-family: Calibri;">AI Classification</h6>
    <div >
      <div *ngIf="aiClassificationChart[chartIndex].length; else noAiClassificationChart">
       
        <canvas baseChart height="180" width="180"  [data]="aiClassificationChart[chartIndex]" [labels]="riskChartLabelsAI"
          [chartType]="chartType"  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event, 'AI', dashboardData.hospitalData[chartIndex].hospital_code)"
          [colors]="dashboardService.riskChartColorLeft" [options]="chartOptionsOverall1" ></canvas>
      </div>  <br><br>
      <ng-template #noAiClassificationChart>
        <!-- <h3 class="mat-h3 font-grey center"style="font-family: Calibri;" >No Records Found</h3> -->
        
        <div>   <canvas baseChart height="180" width="180"
          [data]="doughnutChartData"
         
          [chartType]="doughnutChartType"
          [colors]="doughbackgroundColor"
          [options]="chartOptionsOverall2"
          >
         
        </canvas>
        
      </div>

      </ng-template>
      
      
      <div class="row center" style="color:#000000;font-family: Calibri;">
       <!-- <span style="margin-top: -5rem;font-family: Calibri;">  Overall</span> -->
      </div>
    </div><br>

    <div  >
      <div *ngIf="aiClassificationChartPastWeekDataset[chartIndex][0].data.length; else noAiClassificationChartPastWeek">
        <canvas baseChart height="180" width="180" [datasets]="aiClassificationChartPastWeekDataset[chartIndex]" [labels]="riskChartLabelsAI"
          [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event, 'AIP', dashboardData.hospitalData[chartIndex].hospital_code)"
          [colors]="dashboardService.aiClassificationChartColor" [options]="chartOptionsHr1"></canvas>
      </div><br><br>
      <ng-template #noAiClassificationChartPastWeek>
        

        <div>    <canvas baseChart height="180" width="180"
          [data]="doughnutChartData"
         
          [chartType]="doughnutChartType"
          [colors]="doughbackgroundColor"
          [options]="chartOptionsHr2"
          >
        </canvas>
     
      </div>
      <!-- <div class="row center" style="color:#000000;font-family: Calibri;">
        <br><br>
        Past 24 Hours <br>
      No Records Found
      </div> -->
        
        <!-- <h3 class="mat-h3 font-grey center" style="font-family: Calibri;">No Records Found</h3> -->
     </ng-template>

      <!-- <div class="row center" style="color:#000000;font-family: Calibri;">
        Past 24 Hours
      </div> -->
    </div>



  </div>

  <div class="col-1 vertical_line--oncharts11">
   <span ></span>
  </div>


<div class="col-5">
  <h6 style="text-align: center;margin-top: -0.5rem;font-size:18px;font-family: Calibri;">Doctor Classification</h6>
  <div  >
    <div *ngIf="docClassificationChart[chartIndex].length; else noDocClassificationChart">
      <canvas baseChart height="180" width="180" [data]="docClassificationChart[chartIndex]" [labels]="riskChartLabelsDC"
        [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event, 'DC', dashboardData.hospitalData[chartIndex].hospital_code)"
        [colors]="dashboardService.riskChartColorLeft" [options]="chartOptionsOverall1"></canvas>
    </div>
    <ng-template #noDocClassificationChart>
      
      <!-- <h3 class="mat-h3 font-grey center" style="font-family: Calibri;">No Records Found</h3> -->
      
     
      <div>    <canvas baseChart height="180" width="180"
        [data]="doughnutChartData"
       
        [chartType]="doughnutChartType"
        [colors]="doughbackgroundColor"
        [options]="chartOptionsOverall2"
        >
      </canvas>
    </div>
    </ng-template><br><br>
    
    <div class="row center" style="color:#000000;font-family: Calibri;">
      <!-- Overall -->
    </div>
  </div><br>


  <div  >
    <div *ngIf="docClassificationChartPastWeekDataset[chartIndex][0].data; else noDocClassificationChartPastWeekchart">
      <canvas baseChart height="180" width="180" [datasets]="docClassificationChartPastWeekDataset[chartIndex]" [labels]="riskChartLabelsDC"
        [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event, 'DCP', dashboardData.hospitalData[chartIndex].hospital_code)"
        [colors]="dashboardService.docClassificationChartColor" [options]="chartOptionsHr1"></canvas>
    </div>
    <ng-template #noDocClassificationChartPastWeekchart>
    
      <!-- <h3 class="mat-h3 font-grey center" style="font-family: Calibri;">No Records Found</h3> -->
    
      <div>    <canvas baseChart height="180" width="180"
        [data]="doughnutChartData"
       
        [chartType]="doughnutChartType"
        [colors]="doughbackgroundColor"
        [options]="chartOptionsHr2"
        >
      </canvas>
    </div>
    <br><br>
    <!-- <div class="row center" style="color:#000000;font-family: Calibri;">
      <br>
      Past 24 Hours <br>
      No Records Found
    </div> -->
    </ng-template>
  
    <!-- <div class="row center" style="color:#000000;font-family: Calibri;">
      Past 24 Hours<br>
    </div> -->
  </div>



</div>
</div>
</div>



























      <!-- <mat-card class="dashboard-count__cards--v2  mat-elevation-z6">
        <div id="bb" class="row"> 
          <h4 class="mat-h4 center"><p style="font-size: 14px;"id="das"><b>OVERALL<br> AI RISK CLASSIFICATION</b></p></h4>

          <div class="row">
            <div class="col-4 col-4-sm">
              <div class="center pointer" [routerLink]="['/patient/patient-list/High']">
              
                <mat-icon style="color:#FF0000; font-size: 32px">trending_up</mat-icon>
                <h4 class="mat-h4 tiles-font"> <b><u> HIGH </u><br> {{dashboardData.totalsevere}} </b></h4>
              </div>
             </div>
            <div *ngIf="!(screen.isHandset | async)" class="vertical_line-severe"></div>
            <div class="col-4  col-4-sm">
              <div class="center pointer" [routerLink]="['/patient/patient-list/Moderate']">
                
                <mat-icon style="color:#FF7A4C; font-size: 32px">import_export</mat-icon>
                <h4 class="mat-h4 tiles-font"> <b><u> MODERATE </u><br> {{dashboardData.totalmoderate}} </b></h4>
              </div>
            </div>
            <div *ngIf="!(screen.isHandset | async)" class="vertical_line-moderate"></div>
            <div class="col-4  col-4-sm">
              <div class="center pointer" [routerLink]="['/patient/patient-list/Low']">
                <mat-icon style="color:#00D2FF; font-size: 32px">trending_down</mat-icon>
                <h4 class="mat-h4 tiles-font"> <b><u> LOW </u><br> {{dashboardData.totallow}} </b></h4>
              </div>
            </div>
          </div>
        </div>
      </mat-card> -->
   
    <!-- <div class="col-4 tiles-tab-mode"> -->
      <!-- <mat-card class="dashboard-count__cards--v4  mat-elevation-z6">
        <div id="bc"class="row">
          <h4 class="mat-h4 center"><p  style="font-size: 14px;"id="das"><b> PAST 24 HOURS <br> AI PENDING RECORDS</b></p></h4>

         <div class="row">
            <div class="col-4  col-4-sm">
              <div class="center pointer" [routerLink]="['/patient/patient-list/Emergency']">
                <img src="https://portal.imedrix.com/doctor/assets/flat-icons/alarm.png" alt="">
                <h4 class="mat-h4 tiles-font"> <b><u> EMERGENCY </u><br> {{dashboardData.emergencypending}} </b></h4>
              </div>
            </div>
            <div *ngIf="!(screen.isHandset | async)" class="vertical_line-severe"></div>
            <div class="col-4  col-4-sm">
              <div class="center pointer" [routerLink]="['/patient/patient-list/Not Normal Pending']">
                <img src="https://portal.imedrix.com/doctor/assets/flat-icons/notnormal.png" alt="">
                <h4 class="mat-h4 tiles-font"> <b><u> NOT NORMAL </u><br> {{dashboardData.notnormalpending}} </b></h4>
              </div>
            </div>
            <div *ngIf="!(screen.isHandset | async)" class="vertical_line-moderate"></div>
            <div class="col-4  col-4-sm">
              <div class="center pointer" [routerLink]="['/patient/patient-list/Normal Pending']">
                <img src="https://portal.imedrix.com/doctor/assets/flat-icons/normal.png" alt="">
                <h4 class="mat-h4 tiles-font"> <b><u> NORMAL </u><br> {{dashboardData.normalpending}} </b></h4>
              </div>
            </div>
          </div>
        </div>
      </mat-card> -->
    <!-- </div> -->
  </div>
</section>

<!-- <div class="dashboard-chart" *ngIf="dashboardData" >
  <div *ngIf="dashboardData.hospitalData.length > 0">
  
    <div class="row">
      <mat-card class="mat-elevation-z6 bottom-margin" style="background-color:#ffe0b2;"
       (swipeleft)="nextChart(chartIndex)" (swiperight)="previousChart(chartIndex)">

        <div class="row">
          <div class="col-0-5 margin-top-12 left-arrow pointer" *ngIf="!(screen.isHandset | async)">
            <div *ngIf="chartIndex !== 0">

              <button mat-icon-button color="primary" (click)="previousChart(chartIndex)">
                <mat-icon aria-label="Next Spoke Hospital" matTooltip="Previous Hospital">arrow_back_ios</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-11">
            <div class="row" *ngIf="dashboardData.totalNumberOfPatients; else nodata">
              <h3 class="mat-h1 font-heavy center"style="color:darkblue;margin-top:-1rem;" >{{dashboardData.hospitalData[chartIndex].hospital_name}}</h3>

              <div class="col-6 tab-mode-charts">
                
                <h4 class="mat-h3 font-heavy center"style="color:#212121;margin-top:-30px;" id="but">AI Classification</h4>
               <br>
                <div class="row" id="classi">
                  <div class="col-6 col-6-sm" >
                    <div *ngIf="aiClassificationChart[chartIndex].length; else noAiClassificationChart">
                      <canvas baseChart height="180" width="180" [data]="aiClassificationChart[chartIndex]" [labels]="riskChartLabelsAI"
                        [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event, 'AI', dashboardData.hospitalData[chartIndex].hospital_code)"
                        [colors]="dashboardService.riskChartColorLeft" [options]="chartOptions"></canvas>
                    </div>
                    <ng-template #noAiClassificationChart>
                      <h3 class="mat-h3 font-grey center" >No Records Found</h3>
                      
                    </ng-template>
                    
                    
                    <div class="row center" style="color:#009688;">
                      Overall
                    </div>
                  </div>
                  <div class="col-6  col-6-sm" >
                    <div *ngIf="aiClassificationChartPastWeekDataset[chartIndex][0].data.length; else noAiClassificationChartPastWeek">
                      <canvas baseChart height="180" width="180" [datasets]="aiClassificationChartPastWeekDataset[chartIndex]"
                        [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event, 'AIP', dashboardData.hospitalData[chartIndex].hospital_code)"
                        [colors]="dashboardService.aiClassificationChartColor" [options]="chartOptions1"></canvas>
                    </div>
                    <ng-template #noAiClassificationChartPastWeek>
                      
                      <h3 class="mat-h3 font-grey center" >No Records Found</h3>
                   </ng-template>
  
                    <div class="row center" style="color:#009688;">
                      Past 24 Hours
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="!(screen.isHandset | async)" class="vertical_line--oncharts"></div>
              <div class="col-6 tab-mode-charts" id="mobclassification">
                <h4 class="mat-h3 font-heavy center" style="color:#212121;margin-top:-30px;"id="but1"> Doctor Classification </h4><br>
                <div class="row"id="dclassi">

                    <div class="col-6 col-6-sm" >
                        <div *ngIf="docClassificationChartPastWeekDataset[chartIndex][0].data; else noDocClassificationChartPastWeekchart">
                          <canvas baseChart height="180" width="180" [datasets]="docClassificationChartPastWeekDataset[chartIndex]"
                            [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event, 'DCP', dashboardData.hospitalData[chartIndex].hospital_code)"
                            [colors]="dashboardService.docClassificationChartColor" [options]="chartOptions1"></canvas>
                        </div>
                        <ng-template #noDocClassificationChartPastWeekchart>
                        
                          <h3 class="mat-h3 font-grey center" >No Records Found</h3>
                         
                        
                        </ng-template>
                      
                        <div class="row center" style="color:#ff4444;">
                          Past 24 Hours
                        </div>
                      </div>

                  <div class="col-6 col-6-sm" >
                    <div *ngIf="docClassificationChart[chartIndex].length; else noDocClassificationChart">
                      <canvas baseChart height="180" width="180" [data]="docClassificationChart[chartIndex]" [labels]="riskChartLabelsDC"
                        [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event, 'DC', dashboardData.hospitalData[chartIndex].hospital_code)"
                        [colors]="dashboardService.riskChartColorLeft" [options]="chartOptions"></canvas>
                    </div>
                    <ng-template #noDocClassificationChart>
                      
                      <h3 class="mat-h3 font-grey center">No Records Found</h3>
                      
                      
                    </ng-template>
                    
                    <div class="row center" style="color:#ff4444;">
                      Overall
                    </div>
                  </div>
                  
                </div>
              </div>

            </div>
          </div>
          <div class="col-0-5 right-arrow pointer" *ngIf="!(screen.isHandset | async)">
            <div *ngIf="chartIndex !== dashboardData.hospitalData.length - 1">
              <button mat-icon-button (click)="nextChart(chartIndex)">
                <mat-icon aria-label="Previous Spoke Hospital" matTooltip="Next Hospital">arrow_forward_ios</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div style="margin-top: 15rem"></div> 

        <ng-template #nodata>
          <h2 class="mat-h2 font-heavy center">{{dashboardData.hospitalData[chartIndex].hospital_name}}</h2>
          <br>
          <br>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <br>
              <br>
              <br>
              <br>
              <h1 class="mat-h1 font-grey center"style="padding-top: 40px;">No Data Found</h1>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
            <div class="col-4"></div>
          </div>
          <br>
          <br>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div> -->
</div>
</div>
<!-- </div> -->
<footer class="center" style="font-size: 10px;padding-top: 10px;">
   
    &copy; 2019 iMedrix Inc. All rights reserved.
   </footer>