

.family{

font-family: Calibri ;
font-style: normal;

font-size: 14px;

}
#top{
  margin-top: -1rem;
}
.dchart{
  position: absolute;
  width: 842px;
  height: 621px;
  left: 490px;
  top: 17px;
  
  background: #FFFFFF;
  box-shadow:20px 20px 88px rgba(0, 0, 0, 0.11), 20px 18px 14px 0px #FFFFFF;
  border-radius: 18px;
}
.mainSection{
  margin-left: 45%;
  margin-right: 5%;
}
#ovr{
  // margin-left: 5%;
  font-family: Calibri ;
font-style: normal;

font-size: 18px;
 padding-bottom: 12px;


}
.rectangle{
  position: absolute;
width: 378px;
height: 188px;
left: 100px;
top: 125px;

background: #FFFFFF;
border: 1px solid #E2E2E2;
box-sizing: border-box;
border-radius: 6px;
}
.overall{
  width:378px;
  height: 188px;
  font-family: Calibri;
  
  border:1px solid  #E2E2E2;
  border-radius: 6px;
  margin-left:67px;
  margin-top: 10px;
  h5{
      border-bottom: 1px solid #E2E2E2;
  }
  .recordSection{
      display: flex;
      margin-top: 2rem;
     
      justify-content: space-between;
      .record{
          h3{
              font-family: Calibri;
              font-size: 14;
             
          }
      }
  }
}

.vertical_line--oncharts11 {
  opacity: 0.09x;
  border-left: 2px solid #fafafa ;
  height: 26rem;
  margin-left: 7%;
  margin-top: -1.8%;
}
.gggg{
  border:1px solid #ccc;
  box-shadow: 20px 20px 88px rgba(0, 0, 0, 0.11), -20px -20px 88px rgba(255, 255, 255, 0.82);
}
.ggggggg{
  border-right:1px solid #ccc;
}
.aaaa{
display: flex;
justify-content: space-between;
border-bottom: 1px solid #ccc;
margin-left:-15px;
margin-right: -15px;
padding:10px;
}
.aa{
justify-content: center;
}
.aaa{
justify-content: right;
}


















// mixins start
@mixin icon-alignment {
  flex: 25%;
  text-align: center;
}
.mat-card{
  height:10%!important;
}
#but{
  background-color: #ff80ab;
  width:8rem;
  height:2rem;
  font:white;
  padding-top: 0.1rem!important;
}
#but1{
  background-color: #ff80ab;
  width:10rem;
  height:2rem;
  padding-top: 0.3rem!important;
  //margin-top: 10rem; 
}

#aru{
  //background-color: #ffbb33;
 // box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-image: linear-gradient( -30deg, #e1bee7 , #ce93d8 80%);
 //height:100%;

}
.mat-h5{
 
  font-size: 16px;
 //
 
 margin-top: 2rem;
 
}
#font{

  font-size:14px;
}
@mixin  line {
  border-left: 2px solid black;
  height: 100px;
  position: absolute;
  margin-left: -2px;
  top: 1;
}
// mixins end
#ba{
  background-color: #ffcc80  !important;
  
}
#bb{
  background-color: #ffcdd2 !important;
}
#bc{
  background-color: #fff59d !important;
}
.tiles-font:hover{
  
    color:black!important;
  
}

.vl {
  border-left: 1px solid black;
  height: 60px;
}

.tiles-font1:hover{
  
  color:black!important;

}
// .font-heavy{
//   color:#33b5e5!important;
// }

.padding-card {
  padding: 0.5rem;
}

.dashboard-icons {
  font-size: 4rem;
  color: #fff;
  padding-top: 0.3rem;
  width: 100%;
}


 
.dashboard-count {
  margin: 0rem;
  
  &__cards {
      height: 6.5rem;
      display: flex;
      padding: 1rem;

      &--v2 {
        padding-top: -2rem;
        padding: 3.6px;
        width: 100%;
        background: #f50057;
        color: rgba(0, 0, 0, 0.87);
      }

      &--v4 {
        padding: 3.6px;
        width: 100%;
        background: #00C851;
        color: rgba(0, 0, 0, 0.87);
      }
      &--v3 {
        padding: 3.6px;
        //border-color: #32CD32!important;
        width: 100%;
        background: #f57c00;
  color: rgba(0, 0, 0, 0.87);
      }

      &--icon1 {
        @include icon-alignment;
        background-color: #00c0ef;
        
      }

      &--icon2 {
        @include icon-alignment;
        background-color: #32CD32;
      }

      &--icon3 {
        @include icon-alignment;
        background-color: #F98700;
      }

      &--count {
        flex: 75%;
        padding-left: 1rem;
        text-transform: uppercase;
        font-weight: 700;
      }

      &--bold-1 {
        position: absolute;
        top: 15px;
        left: 45px;
      }
      &--bold-2 {
        position: absolute;
        top: 5.5rem;
        left: 45px;
      }

      &--icons-totalrecords {
        font-size: 32px;
        color: #00C8ED;
      }
      &--icons-totaldevices {
        font-size: 32px;
        color: #CE9FF1;  
      }
  }
}

.dashboard-chart {
  margin-top:0rem!important;
  margin:1.5rem;
 
 
}


.horizontal_line {
  border-bottom: 2px solid #eee;
}

.vertical_line-severe {
  @include line();
  left: 34.5%;   
}

.vertical_line-moderate {
  @include line();
  left: 67.5%;
}

.vertical_line-total {
  @include line();
  left: 50%;
}

.vertical_line--oncharts {
  border-left: 2px solid brown;
  height: 14rem;
  position: absolute;
  margin-left: -3px;
  top: 1;
  left: 50%;
}

.tiles-font {
  font-size: 12px;
}

.pointer{
  cursor: pointer;
}
.tiles-font1 {
  font-size: 12px;
  margin-left: 2rem;
  
}

.pointer{
  cursor: pointer;
}
.col-0-5 {
  // width: 4.33333333%;
  width: 0.166667%;
}

.left-arrow {
  margin-top: 5rem;
}

.right-arrow{
  margin-top: 10rem;
  margin-left: -1rem
}


@media (min-width: 800px) and (max-width: 1081px) {
 
  #classfication1{
    margin-top: 5rem!important;
  }
  .tiles-tab-mode {
    display: block;
    float: none;
    width: 94%;
  }
  #font{
    font-size:10px!important;
  }
.font-heavy{
  font-size: 200px!important;
}
.vertical_line--oncharts {
  border-left: 2px solid brown;
  height: 16rem;
  position: absolute;
  margin-left: -3px;
  top: 1;
  left: 50%;
}
  //.tab-mode-charts {
   // display: block;
   // float: none;
   // width: 94%;
  //}
 
  .vertical_line--oncharts {
    height: 0;
  }

  .left-arrow {
    display: none;
  }
  
  .right-arrow{
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 768px) {
  .tiles-tab-mode {
    display: block;
    float: none;
    width: 94%;
  }
  
  #classfication1{
    margin-top:-1rem!important;
  }
 
}
@media (min-width: 500px) and (max-width: 768px) {
#hrs{
  margin-top: -0.6rem!important;
}
#hrs1{
  margin-top: -0.3rem!important;
}
#but1{
  margin-left: 9rem;
}
#graph{
  margin-left:0rem;
}
#classi{
  margin-top: -2.8rem;
}
#dclassi{
  margin-top: -2.7rem;
}


.mat-h1{
  font-size: 20px!important;
}
#das{
  font-size: 13px!important;
}
.tiles-font1 {
  font-size: 12px;
  margin-left: 1rem;
  
}
.mat-icon{
  margin-left: 1rem!important;
}
.vertical_line--oncharts {
  border-left: 2px solid brown;
  height: 16rem;
  position: absolute;
  margin-left: -3px;
  top: 1;
  left: 50%;
}
.row center{
  margin-top: -40px!important;

}
@media (min-width: 800px) and(max-width: 1468px) {
#aru{
  height:100%;
}
#classfication{
  margin-top: -1.6rem;
}
}
.dashboard-chart {
  margin-top:0rem!important;
  margin:1.5rem;
  margin-left:2rem;
  .mat-h3{
    margin-left: 1rem;
  }
 .mat-h1{
  margin-left: 3.2rem!important; 
 }
 .mat-h5{
  margin-right:-5rem!important; 
  font-size: 16px;
  margin-top:-1.6rem!important;
  padding-top: 0.4rem!important;
 }
}


}

@media only screen and (max-width: 600px) {
  .left-arrow {
    margin-top: 0rem;
  }
 
  .right-arrow{
    margin-top: -3rem;
    margin-left: -2.5rem
  }
  .dashboard-chart {
    margin-top:0rem;
    margin:1.5rem;
   
  }
  .mat-h5{
    margin-right:2rem!important; 
    font-size: 13px;
    margin-top:1rem!important;
   padding-top: 0.4rem!important;
   }
   .mat-h1{
    font-size: 16px;
   }
   .mat-h3{
    font-size: 13px;
   }
   .mat-h4{
    font-size: 10px;
   }
   #das{
    font-size: 13px!important;
  }
  .tiles-font1 {
    font-size: 12px;
    margin-left: 1rem;
    
  } 
   .row center{
    font-size: 11px;
  
  }
  #hrs{
    margin-top: -0.6rem!important;
  }
  #hrs1{
    margin-top: -0.3rem!important;
  }
  
  #mobclassification{
    margin-top: 1rem;
  }
}