<div mat-dialog-content>
  <p>Email or Password is incorrect. Please check your credentials and try again.</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class=signinAlertOkButton cdkFocusInitial>Ok</button>
</div>