h4.custom_clip-text {
    display: inline-block;
    text-transform: uppercase;
    // background-image: linear-gradient(-90deg, red, #bfb8b8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    // color: transparent;
}

.reset-password {
    
    // background-image: linear-gradient(-90deg, #01579B, #bfb8b8 100%);
    // height: 100%;
    height: auto;
  }
  
  .reset-password__header {
   // margin-bottom: 6.5rem;
  }

  .reset-password__card {
    height: auto;
  }


// .feedbackform{
//     border-color: red;
// }
// #background{
//     background-color: #FFFFFF;
//     height:92%;
//     margin-top: 0rem;
// }
// .feedback{
//     border: 1px solid grey;
//     height:20%;
//  .feed{
//     border: 1px solid grey;

//     width:80%; 
//  }   
// margin-top: 143px;
//     background: #FFFFFF;
// box-shadow: 20px 20px 88px rgba(0, 0, 0, 0.11), -20px -20px 88px rgba(255, 255, 255, 0.82);
// border-radius: 9px;
// }

// .mainOuterDiv{
//     display: flex;justify-content: center;width: 100%;
//     background-color: white;height:100%;
// }
// .InnerDiv{
//     width:50%;height:48%;background-color:#fff;
//     margin-top:5%;
//     margin-bottom: 10px;
//     box-shadow: 1px 0px 9px 5px #efe4e4;
//   display: flex;
//   justify-content: center;
//   border-radius: 5px;

//   button{
//      float: right;
//      padding:2%;
//      padding-left: 22px;
//     padding-right: 22px;
//     color:white;
//     border:none;
//   }
// }

.feedform{
    position: absolute;
width: 675px;
height: auto;
left: 382px;
top: 143px;

background: #FFFFFF;
box-shadow: 20px 20px 88px rgba(0, 0, 0, 0.11), -20px -20px 88px rgba(255, 255, 255, 0.82);
border-radius: 9px
}

.feedText {
    // position: absolute;
// left: 31.32%;
// right: 48.47%;
// top: 24.02%;
// bottom: 73.95%;
float: left;
padding: 2rem;
     padding-left:3rem;
    //  padding-left: 22px;
    // padding-right: 22px;
    color:white;
    border:none;

font-family: Calibr(Body);
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 16px;
/* identical to box height, or 89% */


color: #000000;
}

.textArea{
    // position: absolute;
// left: 451px;
// right: 454px;
top: 236px;
bottom: 381px;

border: 1px solid #E1E4E8;
box-sizing: border-box;
border-radius: 4px;
// padding-left: 3rem;
}

button{
         float: right;
         padding:2%;
         padding-left: 22px;
        padding-right: 22px;
       
        color:white;
        border:none;
        border-radius: 4px;
      }
mat-icon {
    cursor: pointer;
}