<div  >
 <form class = "feedform" [formGroup]="feedbackform"  (ngSubmit)="sendFeedBack(feedbackform)">
    <mat-card class="reset-password__card center  mat-elevation-z24">
      <h4 class="custom_clip-text">Reset Password</h4>
      <mat-form-field class="full-width__80">
          <mat-label>User Type:</mat-label>
          <mat-icon matSuffix>person</mat-icon>
          <mat-select  [(value)]="usertype"
          (selectionChange)="change_user_type($event.value)">
            <mat-option value="operator">Operator</mat-option>
            <mat-option value="doctor">Doctor</mat-option>
          </mat-select>
        </mat-form-field>
      <mat-form-field class="full-width__80">
          <input matInput placeholder="Enter your emailid / username*" formControlName="mailid" >
          <mat-icon matSuffix>mail</mat-icon>
          <mat-hint *ngIf="feedbackform.get('mailid').hasError('required')" align="end">please
            enter your mailid</mat-hint>
        </mat-form-field>
      <!-- <mat-form-field class="full-width__80">
        <input matInput placeholder="Enter your current password*" formControlName="oldPassword" [type]="'password'">
        <mat-icon matSuffix>lock_open</mat-icon>
        <mat-hint *ngIf="submitted && feedbackform.get('oldPassword').hasError('required')" align="end">please
          enter your password</mat-hint>
      </mat-form-field> -->
      <mat-form-field class="full-width__80">
          <input matInput placeholder="Enter your new password*" formControlName="newPassword" [type]="'password'">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-hint *ngIf=" feedbackform.get('newPassword').hasError('required')" align="end">please
            enter your new password</mat-hint>
        </mat-form-field>
       <!-- <mat-form-field class="full-width__80"  hintLabel="should match the newly entered password" >-->
          <mat-form-field class="full-width__80" > 
          <input matInput placeholder="Confirm your new password*" formControlName="confirmPassword" [type]="'password'">
          <mat-icon matSuffix>vpn_key</mat-icon>
          <mat-hint *ngIf="feedbackform.get('confirmPassword').hasError('required')" align="end">please
            re-enter your new password</mat-hint>
        </mat-form-field><br>
        <!-- <button mat-raised-button style="background-color: lightcoral; color:white"  type="button" (click)="cancel()">
            <mat-icon>close</mat-icon> &nbsp; Cancel
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp; -->
          <div style="padding-left: 25rem; padding-right:20rem">
          <button mat-raised-button style="background-color: lightcoral; color:white;
          margin-left: -5rem" type="submit"  [disabled]=feedbackform.invalid>
            <mat-icon>done</mat-icon> &nbsp; Reset
          </button>
        </div>
            <br>
            <br>
            <br>
    </mat-card>
  
  </form>
 
  <!-- <div class="InnerDiv">
   
   <form class = "feedform" [formGroup]="feedbackform"  (ngSubmit)="sendFeedBack(feedbackform)">
     
      <h4 class="clip-text">Reset Password</h4>
      <div style="padding-left: 3rem">
      <textarea class = "textArea" rows="2.5" cols="70" formControlName="summary"  placeholder="Enter a brief summary ..." ></textarea>
    </div>
    <br>
      <div style="padding-left: 3rem">
   <textarea class = "textArea" rows="12" cols="70" formControlName="feedback"  placeholder="Please give a detailed description ..." ></textarea>
  </div>
<br>
  <div class="custom-file fileInputProfileWrap">
    <input type="file" (change)="fileChangeEvent($event)" style="margin-left: 3rem">
    <span style="font-size: .8rem; color: gray; margin-left: 4.5rem">Max 2MB</span>
    <div class="img-space">

        <ng-container *ngIf="isImageSaved; else elseTemplate">
           
        </ng-container>
        <ng-template #elseTemplate>
 
        </ng-template>

    </div>

</div> 
  <br> 
  <mat-icon  color="primary" style="color: #263238; font-size: 14px; margin-left: 2.8rem;" (click)="onClickContact()" >contact_support <span style=" font-family: 'Calibri(Body)', sans-serif;"><b>CONTACT US</b></span> </mat-icon>
      
  <div style="margin-right: 2.5rem;margin-top: -1.8rem;">
  <button style="background-color: #7DB4EA;">Send</button>
</div>
 
</form> -->
 
  <!-- </div> -->

</div>





<!-- <div class="row" id="background">
  <form [formGroup]="feedbackform"  (ngSubmit)="sendFeedBack(feedbackform)"><br>
    <h3 class="center"><b>i3 Feedback</b></h3>
    <div class="col-2"></div>
    <div class="col-8" style="line-height: 1.5rem">
      <mat-form-field class="center full-width" appearance="outline">
      
        <mat-label>Your feedback is valuable to us</mat-label>
        <textarea matInput placeholder="" formControlName="feedback" cols="5" rows="10"></textarea>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      <br>
      <button mat-raised-button color="primary" style="float: right">Send</button>
    </div>
    <div class="col-2"></div>
  </form>
</div> -->
<!-- <footer class="center" style="font-size: 10px;padding-top: 10px;margin-right: -1.4rem;">
   
    &copy; 2019 iMedrix Inc. All rights reserved.
   </footer> -->