 

<div  class="mainOuterDiv">
  <mat-card class="reset-password__card center  mat-elevation-z24">
     
    <!-- <div class="center" *ngIf="usertype === 'Doctor '"> -->
      <h4 class="custom_clip-text">Update {{usertype}} {{title}}</h4>
      <br>
      <form class = "reset-password" [formGroup]="feedbackform"  (ngSubmit)="sendFeedBack(feedbackform)">
        <mat-form-field class="full-width__80">
          <input matInput placeholder="Name:" formControlName="docname"  readonly title="Name">{{doctor_name}}
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width__80">
          <input matInput placeholder="Email:" formControlName="docemail"  readonly title="Email">{{doctor_emailid}}
          <mat-icon matSuffix>email</mat-icon>
          <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('oldPassword').hasError('required')" align="end">please
            enter your password</mat-hint> -->
        </mat-form-field>
        <mat-card class="mat-elevation-z24"> 
          <mat-form-field class="full-width__50">
            <input matInput placeholder="Phone:" formControlName="docmobile"  
            [type]="'number'" value= "{{doctor_mobile}}" title="Phone">
            <mat-icon matSuffix>phone</mat-icon>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('docmobile').hasError('required')" align="end">Please
              enter the Phone Number</mat-hint> -->
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50">
            <input matInput placeholder="Speciality:" formControlName="dcspeciality" 
            value= "{{doctor_speciality}}" title="Speciality">
            <mat-icon matSuffix>person_pin</mat-icon>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('dcspeciality').hasError('required')" align="end">Please
              enter the speciality</mat-hint> -->
          </mat-form-field>
 
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50"  >
            <mat-label>Notification:</mat-label>
            <mat-icon matSuffix>notifications</mat-icon>
            <mat-select [formControl]="doctor_notification" title="Notification" (selectionChange)="change_doctor_notification($event.value)">
              <mat-option value="0">NO</mat-option>
              <mat-option value="1">YES</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('leads').hasError('required')" align="end">Please
              select cloud analyser enabled</mat-hint> -->
          </mat-form-field>  
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50"  >
            <mat-label style="padding-left: -2rem">Disabled:</mat-label>
            <mat-icon matSuffix>not_interested</mat-icon>
            <mat-select [formControl]="doctor_markas_delete" title="Disabled" (selectionChange)="change_doctor_markas_delete($event.value)">
              <mat-option value="0">NO</mat-option>
              <mat-option value="1">YES</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('leads').hasError('required')" align="end">Please
              select cloud analyser enabled</mat-hint> -->
          </mat-form-field>  
          <br>
          <mat-form-field class="full-width__50"  >
            <mat-label>View:</mat-label>
            <mat-icon matSuffix>pageview</mat-icon>
            <mat-select [formControl]="view" title="View" (selectionChange)="change_view($event.value)">
              <mat-option value="0">NO</mat-option>
              <mat-option value="1">YES</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('view').hasError('required')" align="end">Please
              select view</mat-hint> -->
          </mat-form-field>  
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50"  >
            <mat-label>Comment:</mat-label>
            <mat-icon matSuffix>comment</mat-icon>
            <mat-select [formControl]="comment" title="Comment" (selectionChange)="change_comment($event.value)">
              <mat-option value="0">NO</mat-option>
              <mat-option value="1">YES</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('comment').hasError('required')" align="end">Please
              select cloud analyser enabled</mat-hint> -->
          </mat-form-field>  
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50"  >
            <mat-label>Forward:</mat-label>
            <mat-icon matSuffix>forward</mat-icon>
            <mat-select [formControl]="forward" title="Forward" (selectionChange)="change_forward($event.value)">
              <mat-option value="0">NO</mat-option>
              <mat-option value="1">YES</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('forward').hasError('required')" align="end">Please
              select Forward</mat-hint> -->
          </mat-form-field>  
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field class="full-width__50"  >
            <mat-label>Closure:</mat-label>
            <mat-icon matSuffix>cancel</mat-icon>
            <mat-select [formControl]="closure" title="Closure" (selectionChange)="change_closure($event.value)">
              <mat-option value="0">NO</mat-option>
              <mat-option value="1">YES</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('closure').hasError('required')" align="end">Please
              select Closure</mat-hint> -->
          </mat-form-field>  
          <br>
          <mat-form-field class="full-width__50"  >
            <mat-label>Thirdparty Doctor:</mat-label>
            <mat-icon matSuffix>person</mat-icon>
            <mat-select [formControl]="is_thirdparty_doctor" title="Thirdparty Doctor" (selectionChange)="change_is_thirdparty_doctor($event.value)">
              <mat-option value="0">FALSE</mat-option>
              <mat-option value="1">TRUE</mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="submitted && resetPasswordForm.get('is_thirdparty_doctor').hasError('required')" align="end">Please
              select Thirdparty Doctor</mat-hint> -->
          </mat-form-field>  
          

        </mat-card>     
        <br>
        <br>
        <br>
        <button mat-raised-button style="background-color: lightcoral; color:white"  type="button" (click)="close()">
          <mat-icon>close</mat-icon> &nbsp; Cancel
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="warn" type="submit" [disabled]=feedbackform.invalid>
          <mat-icon>done</mat-icon> &nbsp; Update
        </button>
        <br>
        <br>
        <br>
      </form>
    <!-- </div> -->
  </mat-card>
</div>

