.dashboard{
  position: absolute;
  width: 210px;
  height: 30px;
  left: 318px;
  top: 30px;
  
  font-family: Calibri(Body);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 165.4%;
  /* identical to box height, or 30px */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  // text-transform: uppercase;
  
  color: #FFFFFF;
  opacity: 0.7;

}


.dashboardbar {
  position: absolute;
  width: 210px;
  height: 7px;
  left: 11px;
  top: 50px;

background: #ED6DBC;
}
.patientlistbar{
  position: absolute;
width: 205px;
height: 7px;
left: 8px;
top:50px;

background: #ED6DBC;
}
.riskbar{
  position: absolute;
width: 150px;
height: 7px;
left: 2rem;
top:50px;

background: #ED6DBC;
}

.helpbar{
  position: absolute;
  width: 84px;
  height: 7px;
  left: 0.7rem;
  top:50px;
  
  background: #ED6DBC;
}

.feedbackbar{
  position: absolute;
  width: 139px;
  height: 7px;
  left: 9px;
  top:50px;
  
  background: #ED6DBC;
}

.patientlist{
  position: absolute;
width: 235px;
height: 30px;
left: 550px;
top: 31px;

font-family: Calibri(Body);
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 165.4%;
/* identical to box height, or 30px */

display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #FFFFFF;

opacity: 0.7;
}

.risk{

    position: absolute;
  width: 235px;
  height: 30px;
  left: 670px;
  top: 30px;
  
  font-family: Calibri(Body);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 165.4%;
  /* identical to box height, or 30px */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  
  color: #FFFFFF;
  
  opacity: 0.7;
  
}
.help{
  position: absolute;
width: 44px;
height: 30px;
left: 864px;
top: 30px;

font-family: Calibri(Body) ;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 165.4%;
/* identical to box height, or 30px */

display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #FFFFFF;

opacity: 0.7;
}
.feedback{
  position: absolute;
width: 90px;
height: 30px;
left: 975px;
top: 30px;

font-family: Calibri(Body) ;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 165.4%;
/* identical to box height, or 30px */

display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #FFFFFF;

opacity: 0.7;
}

.helpNoRisk{
  position: absolute;
width: 44px;
height: 30px;
left: 670px;
top: 30px;

font-family: Calibri(Body) ;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 165.4%;
/* identical to box height, or 30px */

display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #FFFFFF;

opacity: 0.7;
}
.feedbackNoRisk{
  position: absolute;
width: 90px;
height: 30px;
left: 775px;
top: 30px;

font-family: Calibri(Body) ;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 165.4%;
/* identical to box height, or 30px */

display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #FFFFFF;

opacity: 0.7;
}

.logout{
  position: absolute;
width: auto;
height: 30px;
left: 1180px;
top: 30px;

font-family: Calibri(Body) ;
font-style: 300;
font-weight: 300;
font-size: 30px;
line-height: 165.4%;
/* identical to box height, or 30px */

display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #FEFEFE;

opacity: 0.9;
}
// .logout.exactFit {
//   word-wrap: break-word;
// }

button {
  overflow-x: hidden !important;
  white-space: pre-wrap !important;
}



.imglogo{
  position: absolute;
  width: 68px;
  height: 79px;
  left: 97px;
  top: 0px;
  
  background: #F6F6FB;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.23);
  border-radius: 0px 0px 6px 6px;
  
}

.img{
  position: absolute;
width: 49px;
height: 44px;
left: 97px;
top: 3px;
background-color: white;

}
.dash{
  // margin-top:1.2rem;
  font-size: 18px;
  line-height: 175.4%; 
  border-bottom: 3px solid  #ED6DBC;

  i{
    
      color:#ED6DBC;
  }
  span{
  
    // margin-top:1.2rem;
      color:#ED6DBC;
  }

}



.sidenav-container {
  height: 100%;
  left:-0.9%;
}

.sidenav {
  width: 180px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-image: linear-gradient( -30deg, #01579B , #fff 70%);
}
.user{
  color:#FFFFFF;
  margin-left: 8rem;
  font-size: 18px;
   
}

.appHeading {
  left: 46%;
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-size: 25px;
  width: 20px;
  color:#f4ff81 ;
}

.logo_toolbar {
  background-color: #fff !important;
}

.main_toolbar {
  background-color:#2B3B5F;
}

@media (min-width: 800px) and (max-width: 1081px) {
  .sidenav-container {
    height: 100%;
    font-size: 18px;
  }
  
  .sidenav {
    width: 0px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
  
  .appHeading {
  
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 0px;
  }
  


  
  }
  @media  (max-width: 600px) {
    .appHeading{
      left:26%;
      font-size: 16px;
    }
   
    .sidenav {
      width: 170px;
    }
    }

   

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      color:#ED6DBC !important;background-color: #2B3B5F;
    }

    

.navbar-inverse .navbar-nav>li>a {
  color:#fff;
}
.navbarfont{
  font-family: Calibri ;
font-style: normal;

font-size: 18px;
}



.active{


 border-bottom: 3px solid  #ED6DBC;

  i{
    
      color:#ED6DBC;
  }



font-family: Calibri ;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 165.4%;
/* identical to box height, or 30px */


}

.active1{
  position: absolute;
width: 108px;
height: 30px;
left: 587px;
top: 30px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 165.4%;
/* identical to box height, or 30px */

display: flex;
align-items: center;
letter-spacing: 0.01em;
border-bottom: 3px solid  #ED6DBC;

i{
  
    color:#ED6DBC;
}


}

.Rectangle_3{
position: absolute;
width: 1440px;
height: 90px;
left: 0px;
top: 0px;

background: #2B3B5F;
}

.Rectangle_33{ 
  position: absolute;
width: 148px;
height: 79px;
left: 97px;
top: 0px;

background: #F6F6FB;
box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.23);
border-radius: 0px 0px 6px 6px;

}

.i3_logo_web_1 {
  position: absolute;
  width: 130px;
  height: 44px;
  left: 10px;
  top: 18px;
  
  // background: url(i3_logo_web.png);
  }