 
<nav class="navbar navbar-inverse" style="height: 90px;background-color: #2B3B5F;">
  <div class="container-fluid navbarfont">
    <div class="Rectangle_33">
    
      <img  class=" i3_logo_web_1" src="https://portal.imedrix.com/doctor/assets/images/logos/logo_web.png" >
    
    </div>
    <ul class="nav navbar-nav" >
 
      <li *ngIf = "dashboard1 ==='patient-list'" routerLinkActive="active"><a  routerLink='../hospital' class="dashboard" (click)="onClick('patient-list')"><img src="https://portal.imedrix.com/doctor/assets/images/ic_baseline-people-outline_selected.png" alt="Avatar" > &nbsp;&nbsp;Hospital Details<span class="dashboardbar"></span></a></li>
      <li *ngIf = "dashboard1 !=='patient-list'" routerLinkActive="active"><a  routerLink='../hospital' class="dashboard" (click)="onClick('patient-list')"><img src="https://portal.imedrix.com/doctor/assets/images/ic_baseline-people-outline.png" alt="Avatar" > &nbsp;&nbsp;Hospital Details</a></li>
  
      <!-- <li *ngIf = "dashboard1 ==='reset-password'  " routerLinkActive="active"><a routerLink='../reset-password' class="patientlist" (click)="onClick('reset-password')"><img src="https://portal.imedrix.com/doctor/assets/images/ant-design_question-circle-outlined_selected.png" style="margin-top: 3px;" alt="Avatar" > &nbsp;&nbsp;Reset Password<span class="patientlistbar"></span></a></li>
      <li *ngIf = "dashboard1 !=='reset-password' " routerLinkActive="active"><a routerLink='../reset-password' class="patientlist" (click)="onClick('reset-password')"><img src="https://portal.imedrix.com/doctor/assets/images/ant-design_question-circle-outlined.png" alt="Avatar" > &nbsp;&nbsp;Reset Password</a></li> -->
 
      <li *ngIf = "dashboard1 ==='feedback'" routerLinkActive="active" (click)="onClick('feedback')"><a [routerLink]="['/dashboard/reset-password']" class="patientlist"><img src="https://portal.imedrix.com/doctor/assets/images/ion_chatbox-ellipses-outline _selected.png" style="margin-top:10px;" alt="Avatar" >&nbsp;&nbsp;Reset Password<span class="patientlistbar"></span></a></li>
      <li *ngIf = "dashboard1 !=='feedback'" routerLinkActive="active" (click)="onClick('feedback')"><a [routerLink]="['/dashboard/reset-password']" class="patientlist"><img src="https://portal.imedrix.com/doctor/assets/images/ion_chatbox-ellipses-outline.png"  style="margin-top:10px;"alt="Avatar" >&nbsp;&nbsp;Reset Password</a></li>
     
        </ul>
    <ul>
      <div class="logout"> 
          <button style="background-color: lightcoral; color:white" mat-button [matMenuTriggerFor]="menu"> <mat-icon>account_circle</mat-icon>
               &nbsp;&nbsp;{{username}}
            </button>
 
          <mat-menu #menu="matMenu" >  
          <button mat-menu-item (click)="logout()"> <mat-icon>exit_to_app</mat-icon>Logout </button> </mat-menu> </div>
    
        
    </ul>
  </div>
</nav>
  
<router-outlet></router-outlet>
<!-- <footer class="center" style="font-size: 10px;padding-top: 10px;">
   
  &copy; 2019 iMedrix Inc. All rights reserved.
 </footer> -->
    
    