.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    z-index: 100000000;
  }
  
  h4.custom_clip-text {
    display: inline-block;
    text-transform: uppercase;
    // background-image: linear-gradient(-90deg, red, #bfb8b8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    // color: transparent;
}