.group{
  // margin-top:4rem;
}
.loginform{
  margin-top:6rem;
}
.InnerDiv{
  margin-left: 5rem;
    width:50%;height:48%;background-color:#fff;
    margin-top:5rem;
    margin-bottom: 10px;
    box-shadow: 1px 0px 25px 15px #E5E5E5;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-top:6rem;
}
.imedlogo{
  width:10%;
  margin-left:38rem;
  margin-top: 0rem;
}
.mat-raised-button{

 margin-left: -20%;
  background-color: #11357E;
 
  padding-right: 60%;
  padding-left: 40%;
}
.border{

  border: 1px solid #E1E4E8;
  border-radius: 5px;
  padding:3%;
  background-color:#E1E4E8 !important;
}
.signin {
  // background-image: linear-gradient(to right, #f2f2f2, #1b1a1a );
  // background-image: linear-gradient(-90deg, #01579B, #fff 100%);
  background-image: linear-gradient(-90deg, #01579B -50%, #fff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

 
  height: 100%; 
  &__button {
    width: 80%;
  }
}
.mat-raised-button{

  left:3rem;
  width:60%!important;
}
.signin__header {
  margin-bottom: 1rem;

  &--div {
  
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}
#im{
  height:30px;
}
.signin-card {
  margin: 0 auto;
  // width: 40rem;
  height: 25rem;

  &__form-fields {
    display: flex;
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }

  &__icon {
    font-size: 7rem;
    color: #fff ;
    margin-left: -5rem;
  }
}

.divider {
  border-right: 2px solid #01579B;
  height: 20rem;
  margin-left: 5rem;
}

@media screen and (max-device-width: 800px) { 
  .signin {
    // background-image: linear-gradient(to right, #f2f2f2, #1b1a1a );
    // background-image: linear-gradient(0deg, #01579B, #fff 100%);
    background-image: linear-gradient(0deg, #01579B -50%, #fff 100%);
    height:180%;
  }
  .rowcenter{
    margin-left:3rem;
    top:2rem;
  }
   
  .signin__header {
    margin-bottom: 0;
  }
  #im{
    height:30px;
    margin-top:-0.8rem; 
  }
  #imp{
    height:60px;
    margin-top: -0.1rem;
  }
  #doc{
    height:60px;
    width:60px;
    margin-top: -5rem;
  }
  
  #doc1{
    margin-top: -0.2rem;
    font-size: 25px;
  }
  #docDet{
    margin-top: -5rem;
  }
}
@media screen and (max-device-width: 600px) { 
  .signin {
    // background-image: linear-gradient(to right, #f2f2f2, #1b1a1a );
    // background-image: linear-gradient(0deg, #01579B, #fff 100%);
    background-image: linear-gradient(0deg, #01579B -50%, #fff 100%);
    height:158%;
  }
   
  .signin__header {
    margin-bottom: 0;
  }
  #im{
    height:30px;
    margin-top:-0.8rem; 
  }
  #imp{
    height:60px;
    margin-top: -0.1rem;
  }
  #doc{
    height:60px;
    width:60px;
    margin-top: -7rem;
  }
  
  #doc1{
    margin-top: -0.2rem;
    font-size: 25px;
  }
  #docDet{
    margin-top: -5rem;
  }
}
@media screen and (max-device-width: 1400px) { 
  .signin {
    // background-image: linear-gradient(to right, #f2f2f2, #1b1a1a );
    // background-image: linear-gradient(0deg, #01579B, #fff 100%);
    background-image: linear-gradient(0deg, #01579B -50%, #fff 100%);
    height:168%;
  }
}
@media screen and (min-width: 360px) {
  .signin {
    // background-image: linear-gradient(to right, #f2f2f2, #1b1a1a );
    // background-image: linear-gradient(0deg, #01579B, #fff 100%);
    background-image: linear-gradient(0deg, #01579B -50%, #fff 100%);
    height:168%;
  }
}

mat-icon {
  cursor: pointer;
}