

<div class="row">
 
<div class="col-4 group" >
  <div style="margin-left:10rem;margin-top: 12rem;">
  <img src="https://portal.imedrix.com/doctor/assets/images/logos/logo_web.png" alt="" >
</div>
<!-- <div style="margin-top:-7rem">
  <img src="https://portal.imedrix.com/doctor/assets/images/logos/Mask Group.png" style="width:100%">
</div>  -->
</div>
<div class="col-8" style="background-color: #fafafa;height:100%">
  <div class="col-2">

  </div>
  <div>
     
  </div><br>
 
  <div class="col-6 InnerDiv">
  <form (ngSubmit)="onSignin(signinForm)" #signinForm="ngForm" ngNativeValidate>
    <div class="signin-card__form-fields"><br>
   <p style="color:#A8A8A8">Welcome back, Login to continue</p>
      <mat-form-field >
        <input matInput placeholder="USER NAME" name="signinEmail" type="text" [(ngModel)]="username"  required class="border">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="PASSWORD" name="password"  [(ngModel)]="hispassword" type="password" required class="border">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field><br>
      <mat-checkbox  color="primary" style="color: #263238; font-size: 14px;margin-top: -1rem; width:6rem"  [disabled]="!signinForm.valid" (change)="saveCredentials($event, signinForm)">REMEMBER ME</mat-checkbox>
      <br><br>
      <button mat-raised-button color="primary" style="width: 50%" type="submit" [disabled]="!signinForm.valid">
         <b> Login</b> 
      </button><br>
      <!-- <button mat-raised-button  class="loginbutton"
        color="primary" type="submit" [disabled]="!signinForm.valid">
         
           <b> Login</b> 
         
      </button><br> -->
    </div>
  </form><br>
 
</div>
<!-- <img class="imedlogo"src="https://portal.imedrix.com/doctor/assets/images/logos/logo_web.png" alt="" ><br><br><br><br><br> -->
<br><br><br><br><br><br><br>
</div>
<!-- <br><br><br><br><br><br><br><br><br> -->

</div>
<!-- <footer class=" " style="font-size: 10px;padding-top: 10px;">
   
  &copy; 2019 iMedrix Inc. All rights reserved.
 </footer> -->

<!-- <section class="signin">
  <header class="signin__header">
    <br>
    <div class="signin__header--div">
      <img id="im"*ngIf="(isHandset | async)" class="center" src="https://portal.imedrix.com/doctor/assets/images/logos/logo_web.png" alt="">
    </div>
  </header>
  <br>
  <br>
 

  <div class="row center" style="color: #005B9A;margin-top: -2%;margin-left: -1.2rem;">
      <img id="imp" class="rowcenter"src="https://portal.imedrix.com/doctor/assets/images/logos/i3_logo_web.png" alt="" >
     
    
  </div>
  
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <mat-grid-list [cols]="(isHandset | async) ? 1 : 2" rowHeight="25rem">
        <mat-grid-tile *ngIf="!(isHandset | async)">
          <img src="https://portal.imedrix.com/doctor/assets/images/logos/logo_web.png" alt="">
         
          <div class="divider"></div>
        </mat-grid-tile>
        <mat-grid-tile>
          <form (ngSubmit)="onSignin(signinForm)" #signinForm="ngForm" ngNativeValidate>
            <div class="signin-card__form-fields">
              <div class="center" id="docDet">
             
                <img id="doc"src="https://portal.imedrix.com/doctor/assets/flat-icons/doctor_128.png" alt="" srcset="" width="48%" >
                <br>
                <h2 style="color: #f06292;" id="doc1">Login</h2>
              </div>
              <mat-form-field>
                <input matInput placeholder="Enter user name" name="signinEmail" type="text" [(ngModel)]="username" required>
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter password" name="password"  [(ngModel)]="hispassword" type="password" required>
                <mat-icon matSuffix>vpn_key</mat-icon>
              </mat-form-field>
              <mat-checkbox class="center" color="primary" style="color: #263238; font-size: 14px;margin-top: -1rem"  [disabled]="!signinForm.valid" (change)="saveCredentials($event, signinForm)"><i>Remember Me</i></mat-checkbox>
              <br>
              <button mat-raised-button style='color: orangered; font-size:15px;margin-top: -1rem' 
                color="primary" type="submit" [disabled]="!signinForm.valid">
                 
                   <b> Login</b> &nbsp;&nbsp;&nbsp;
                   <span style='font-size:30px; color:yellow;'>&#8629;</span>
              </button>
            </div>
          </form>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col-3"></div>
  </div>

  
  <br>
 
</section> -->
