/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import  './assets/scss/custom-theme.scss';
@import './assets/scss/grid.scss';


/* <link rel="stylesheet" type="text/css" href="node_modules/primeicons/primeicons.css" />
  <link rel="stylesheet" type="text/css" href="node_modules/primeng/resources/themes/nova-light/theme.css" />
  <link rel="stylesheet" type="text/css" href="node_modules/primeng/resources/primeng.min.css" /> */

// css debugger;
/* *:not(path):not(g) {
  color:                    hsla(210, 100%, 100%, 0.9) !important;
  background:               hsla(210, 100%,  50%, 0.5) !important;
  outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
  box-shadow: none !important;
} */


 @mixin breakpoint($point) {
  @if $point == medium {
      @media (min-width: 30em)  { @content; }
  }
  @else if $point == large {
      @media (min-width: 50em) { @content; }
  }
  @else if $point == xlarge {
    @media (min-width: 120em) { @content; }
  }
  @else if $point == xxlarge {
    @media (min-width: 160em) { @content; }
  }
  @else if $point { // allows custom breakpoints
      @media (min-width: $point) { @content; }
  }
}

// @font-face {
//   font-family: Montserrat;
//   src: url(../.https://portal.imedrix.com/doctor/assets/font/Montserrat-Bold.ttf);
// }

:root {
  --theme_black: #273238;
}

/* Absolute Center Spinner */
.app-loader {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .app-loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .app-loader:not(:required) {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    margin-left: 38rem;
    margin-top: 20%;
  }
  
  .app-loader:not(:required):after {
    // content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(3, 1, 1, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }


  // footer
  footer {
     position:fixed;
     right:2.1rem;
     bottom:0px;
     height:35px;
    width:100%;
    margin-right:-2rem!important;
    z-index: 10000;
   //background: #fafafa;
   background-image: linear-gradient(-90deg, rgb(225, 228, 230) 10%, #fff 100%);
 }

  // snackbar
  .my-snack-bar{
    text-align: center !important;
    //margin-top: -40;
  }

  
// spinner text
.spinner-text {
  position: relative;
  color: rgba(0, 0, 0, .3);
  font-size: 2em
}
.spinner-text:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 7em;
  white-space: nowrap;
  color: var(--theme_black);;
  animation: loading 3s infinite ease-in-out;
}
@keyframes loading {
  0% {
      max-width: 0;
  }
}


.mat-toolbar-row, .mat-toolbar-single-row {
  height: 3rem !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--theme_black);;
  }

::ng-deep .mat-form-field-label  {
  color: var(--theme_black) !important;
}

::ng-deep .mat-form-field-ripple  {
  background: var(--theme_black) !important;
} 

::ng-deep .mat-form-field-underline   {
  background: var(--theme_black) !important;
} 

.mat-header-cell {
  font-weight: 900 !important;
  color: #222 !important;
}


.clip-text {
  display: inline-block;
  text-transform: uppercase;
  // background-image: linear-gradient(to right, #ddd, #1b1a1a );
  background-image: linear-gradient(-90deg, #01579B, #bfb8b8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}


.full-width__80 {
  width: 80%;
}

// margins
.margin {
  margin: 1rem;
}

.bottom-margin {
  margin-bottom: 1rem;
}

.top-margin {
  margin-top: 1rem;
}

.margin-left-right {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

// avatar
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-small {
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

// view pdf dialog csss starts

.cdk-overlay-pane {
  max-width: 95vw !important;
}

// view pdf dialog csss ends


// Date Picker
.ui-inputtext {
  font-size: 13px !important;
  border: none !important;
  background:  white!important;
  width: 108% !important;
}
.ui-widget {
  font-family: "Lato", sans-serif !important;
  // font-family: "Varela Round", sans-serif !important;
  // width: 150% !important;
}

.ui-widget-content {
  top:35px !important;
}


// Mat select panel
.mat-select-panel {
  margin-top: 30px !important;
}

.mat-bottom-sheet-container {
  margin-left: -11px;
}

@media(max-width: 800px)  {

.app-loader:not(:required) {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin-left: 20rem;
  margin-top: 20%;
}
}

  @media(max-width: 1024px)  {

    .app-loader:not(:required) {
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
      margin-left: 22rem!important;
      margin-top: 30%;
     
    }
    }
    @media (min-width: 300px) and (max-width: 600px) {
     .app-loader:not(:required) {
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
      margin-left: 9.2rem!important;
      margin-top: 55%;
     
    }
    }