.mat-column-Name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Phone {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7.5% !important;
  width: 7.5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Leads {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5.5% !important;
  width: 5.5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Cloud {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Disabled {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 6% !important;
  width: 6% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Mode {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 4.5% !important;
  width: 4.5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-Sync {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 4.5% !important;
  width: 4.5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
 
.mat-column-UserType {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Spot Check Monitor {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 4% !important;
  width: 4% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Patient Name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Patient Age {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 4% !important;
  width: 4% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Patient Mobile Number {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Notification {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7.5% !important;
  width: 7.5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-View {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Speciality {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

 
// .patient_id{

// }

.mat-input-flex.mat-form-field-flex{
  border: 1px solid red!important;
}


.shospital{
  border: 1px solid #E1E4E8;
  box-sizing: border-box;
  border-radius: 4px;
  height:53px;
  font-size: 12px;
  font-family: Calibri;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
}
.search{
  width: 52px;
  height: 36px;
  left: 1199px;
  top: 230px;
  padding-top:14%;
  padding-left:18%;
  padding-right:14%;
  font-family: Calibri(Body);
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  align-items: center;
  text-align: center;
  margin-top: -1rem;
  vertical-align: middle;
  /* identical to box height, or 133% */
  
  
  color: #FFFFFF;

background: #7DB4EA;
border-radius: 4px;
}

.refresh{
 
border: 1px solid #1A44A1;
 width:100%;
 height: 100%;
box-sizing: border-box;
border-radius: 4px;
font-size: 25px;
align-items: center;
text-align: center;
margin-top: -0.4rem;
}


.export{
 
  border: 1px solid #1A44A1;
   width:100%;
   height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 25px;
  align-items: center;
  text-align: center;
  margin-top: -0.4rem;
 }





mat-row{
  height:10px!important;
}
.mat-row:nth-child(even){
  background-color:#F9F9F9;
  }

.mat-row:nth-child(odd){
  background-color:#FFFFFF;
  }
#font{
  font-size: 14px;
  font-family: Calibri;
}

.mat-cell {
  font-size: 13px!important;
}

#calender{
  background-color: #FFFFFF;
}
.patient-list {
  margin: 2rem;
 // width: 9%;
  margin-top:2rem;
}
.arun{
  background-color: #fff9c4;
  height:450px!important;
  margin-top: -0.8rem!important;
}
// .card{
//   background-color: red;
//   height:auto; 
//   width: 75.5rem;
//   margin-left: 6rem;
//   border: 10px blue; 
//   box-shadow: none;
//   box-shadow: 5px 5px 5px -5px #E1E4E8;
// }

.logout{
  position: absolute;
width: auto;
height: 30px;
left: 600px;
top: 30px;

font-family: Calibri(Body) ;
font-style: 300;
font-weight: 300;
font-size: 30px;
line-height: 165.4%;
/* identical to box height, or 30px */

display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #FEFEFE;

opacity: 0.9;
}
.card{
  background-color: #FFFFFF;
  // height:571px; 
  height:auto; 
  border: 0px #FFFFFF; 
  box-shadow: none;
  box-shadow: 5px 5px 5px -5px #E1E4E8;
}
// #datepicker {
//   background-color: #039be5;
//   border: 1px solid #039be5;
//   color: red;
//  }

 #scrollarea-invalid{
   background-color: #f5f5f5;
   font-size: 12px;
  font-family: Calibri;
 }
#patient{
  background-color: white!important;
  margin-top: 1rem!important;
  margin-left: 4rem!important;
  margin-right: -3rem!important;
}
#patient1{
 // background-color: #6d4c41!important;
  margin-top: 0rem!important;
  margin-left: -1rem!important;
  font-size: 12px;
  font-family: Calibri;
}
.full-width{
  width:80%;
}

table {
  width: 100%;
  font-size: 14px;
}

th {
  font-size: 1rem;
}

/* td, th {
  width: 25%;
} */

.paginate-container {
  margin: 32px;
  display: flex;
  align-items: center;
}


.page-select {
  display: flex;
  align-items: center;
  font-size: 14px;

  .label {
    margin: 0 4px;
  }
}

.patient-list-container {
  display: flex;
  flex-direction: column;
  // max-height: 500px;
  min-width: 282px;
  overflow: scroll;
 // margin-top: -1rem;
}
// .patient-list__table{
//   margin-top: -1rem;
//  }
@media (min-width: 400px) and (max-width: 1081px) {
 .patient-list {
  margin: 1rem;
  width: 92%;
}

}




.mat-table {
  overflow: auto;
  
  // max-height: 500px;
}

.mat-header-cell {
  font-size: 16px;
  text-align: center;
  //color:orange !important;

}

.mobile-label {
  display: none;
}


mat-row {
  cursor: pointer;
}

mat-row:hover {
  background-color: #eee;
}


@media (min-width: 600px) and (max-width: 1081px) {

  // Date Picker
  #datepicker {
    font-size: 1px!important;
    border: none !important;
    // background:  #d1c4e9!important;
    color: #d1c4e9;
    width: 108% !important;
    margin-top: -0.3rem!important;
    font-family: Calibri(Body);
  } 
  .mat-row, .mat-header-row {
    width: 280vw; //PERSONALLY I HAD 45 COLUMNS
  }
  .mat-header-row { //THIS MAKES THE HEADER STICKY
    position: sticky;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: inherit;
  }
  .table { //OR WHATEVER YOU CALL THE mat-table
    overflow: scroll;
  }
  #font{
    font-size: 12px;
  }
  .mat-cell {
    font-size: 12px!important;
  }
 
}


@media only screen and (max-width: 600px) {
       
  .patient-list {
    margin: 1rem;
    width: 92%;
    margin-top:-1rem;
  }
}






@media(min-width: 600px) and (max-width: 1500px) {
  .patient-list {
    margin: -1.4rem;
    margin-left: 2rem;
    width: 92%;
    
  }

 
  .mat-row, .mat-header-row {
    width: 100%; //PERSONALLY I HAD 45 COLUMNS 100vw
  }
  .mat-header-row { //THIS MAKES THE HEADER STICKY
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: inherit;
  }
  .table { //OR WHATEVER YOU CALL THE mat-table
    overflow: scroll;
    width:100%;
  }
}

@media(max-width: 600px)  {
  .mat-row, .mat-header-row {
    width: 212vw; //PERSONALLY I HAD 45 COLUMNS 100vw
  }
//  #font{
//    line-height:-40px!important;
//  }


}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 7%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    flex: 0 0 17%;
}
mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    flex: 0 0 5%;
}
mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
    flex: 0 0 7%;
}
mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    flex: 0 0 11%;
}
mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
    flex: 0 30 16%;
}

mat-cell:nth-child(7),
mat-header-cell:nth-child(7) {
    flex: 0 10 16%;
}
mat-cell:nth-child(8),
mat-header-cell:nth-child(8) {
    flex: 0 0 8%;
}
mat-cell:nth-child(9),
mat-header-cell:nth-child(9) {
  flex: 0 0 8%;
  justify-content: center;
}

mat-cell:nth-child(10),
mat-header-cell:nth-child(10) {
  flex: 0 0 11.5%;
  justify-content: center;
}


/* mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    flex: 0 0 12%;
} */
/* mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
    flex: 0 0 15%;
} */


.blinking{
  animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
  0%{     color: rgb(255, 0, 0);    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: rgb(255, 0, 0);    }
}

.mat-column-age{
  flex: 0 0 50px;
}


.mat-column-assigned_on{
  flex: 0 0 150px;
}
.removeBorder{
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}