<div id="patient">
<div class="patient-list" >
  <div class="top-margin">
      <!-- [formGroup]="patientlistForm" (ngSubmit)="onSubmit(patientlistForm)"  -->
    <form 
    #f="ngForm" (ngSubmit)="onSubmit(f)"
    style="margin-top: 2rem">
      <div class="row" >
          <div class="row" >    
              <div class="col-2 col-5-sm  " id="font" style="margin-top: 1.7rem;margin-left: 5rem;width: 32rem; height:3rem">
                <!-- <mat-form-field class="full-width" appearance="outline"> -->
                  <!-- <mat-select formControlName="filter" placeholder="Select Hospital">
                    <mat-option *ngFor="let filter of records" [value]="filter"
                    (onSelectionChange)="selectedHospitalFunc($event, filter.hospital_code, filter.hospital_name)">
                      {{filter.hospital_name}} ({{filter.hospital_code}})
                    </mat-option>
                  </mat-select> -->
                  <!-- {{records[0].hospital_code}} -->
                  <!-- {{hosp_records}} -->
                  <!-- {{hosp_code_records}} -->
                  <ng-multiselect-dropdown #multiSelect
                  [placeholder]="'Select Hospital'" 
                  [data]="newdata[0]"   
                  [settings]="settings"
                  [disabled]="false"
                  (onFilterChange)="onFilterChange($event)"
                  (onDropDownClose)="onDropDownClose($event)"
                  (onSelect)="onItemSelect($event)" 
                  (onDeSelect)="onDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)">
                </ng-multiselect-dropdown>
                <!-- </mat-form-field> -->
              </div>
            </div>
            <div class="logout" >   
                <button style="background-color: lightcoral; color:white" mat-button [matMenuTriggerFor]="menu"> <mat-icon>person_add</mat-icon>
                  <!-- &nbsp;&nbsp;{{username}} -->
               </button>
     
             <mat-menu #menu="matMenu" >  
             <button mat-menu-item (click)="addOperator()"> <mat-icon>person_add</mat-icon>Operator </button>
             <button mat-menu-item (click)="addDoctor()"> <mat-icon>person_add</mat-icon>Doctor </button>
            </mat-menu>
              </div>
      </div>
    </form>
    <!-- <div class="logout"> 
        <button style="background-color: lightcoral; color:white" mat-button [matMenuTriggerFor]="menu"> <mat-icon>account_circle</mat-icon>
             &nbsp;&nbsp;{{username}}
          </button>

        <mat-menu #menu="matMenu" >  
        <button mat-menu-item (click)="logout()"> <mat-icon>exit_to_app</mat-icon>Logout </button>
       </mat-menu>
       </div> -->
  
  </div>
  <!-- <div class="app-loader" *ngIf="isPatientListNotLoaded" >
    <mat-spinner></mat-spinner>
    <h1 class="spinner-text" data-text="Loading…">Loading…</h1>
  </div> -->
  
  <mat-tab-group [disableRipple]="true" style = "width: auto" 
     (selectedTabChange)="onTabChanged($event)">  
    <mat-tab style="overflow-x: hidden; overflow-y: hidden" >
        <ng-template mat-tab-label>
            <span [ngClass]="{'color-red':'red'}">&nbsp;&nbsp;&nbsp;Operator&nbsp;&nbsp;&nbsp;</span>
          </ng-template>
  <div  id="patient1" >
    <div class="row"  >
      <div class="col-12" style="width: 100%" >
        <mat-card  class="card " style="margin-top : -1.5rem;  ">
          <!-- <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"  id='scrollarea-content'> -->
            <mat-table #table [dataSource]="dataSource" id='scrollarea-content'>
          

            <ng-container matColumnDef="Name">
                <!-- <mat-header-cell *matHeaderCellDef mat-sort-header="name" id="font" style=" font-family: Calibri;font-size: 12px;"> -->
                  <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 12px;">
               
                  <span style=" font-family: Calibri;font-size: 14px;">Name</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" 
                (click)=" openComments(row)">
                  {{row.user_name }}    
              </mat-cell>
              </ng-container>
              
            <ng-container matColumnDef="Email">
              <mat-header-cell *matHeaderCellDef  id="font" style=" font-family: Calibri;font-size: 12px;">
                <span style=" font-family: Calibri;font-size: 14px;"> Email</span>
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" 
              (click)="openComments(row)">
                {{row.email_id }}    
            </mat-cell>
            </ng-container>
              
            <ng-container matColumnDef="Phone">
              <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 12px;">
                <span style=" font-family: Calibri;font-size: 14px;"> Phone</span>
              </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index" 
               (click)="openComments(row)">
                {{row.mobile }}  
              </mat-cell>      
            </ng-container>

              <ng-container matColumnDef="Leads">
                <mat-header-cell *matHeaderCellDef  id="font" style=" font-family: Calibri;font-size: 13px;"> 
                  <span style=" font-family: Calibri;font-size: 14px;"> Leads</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" 
                (click)="openComments(row)">
                      {{row.ecg_type === '6' ? 'SIX' : row.ecg_type === '12' ? 'TWELVE' : 'BOTH'}}  
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Cloud">
                <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;"> 
                  <span style=" font-family: Calibri;font-size: 14px;"> Cloud </span></mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" 
                (click)="openComments(row)" style="width:1rem">
                    {{row.cloud_enabled == 0 ? 'False' : row.cloud_enabled == 1 ? 'True' : row.cloud_enabled }}  
                </mat-cell>
              </ng-container>

               <ng-container matColumnDef="Disabled">
                <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                    <span style=" font-family: Calibri;font-size: 14px;"> Disabled </span></mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" 
                (click)="openComments(row)">
                      {{row.markas_delete == 0 ? 'False' : 'True' }}  
                </mat-cell>
              </ng-container>
              
              
              <ng-container matColumnDef="Mode">
                <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                    <span style=" font-family: Calibri;font-size: 14px;">Mode </span></mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" 
                (click)="openComments(row)">
                      {{row.markas_delete == 0 ? 'False' : 'True' }}  
                </mat-cell>
              </ng-container>

              
              <ng-container matColumnDef="Sync">
                <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                    <span style=" font-family: Calibri;font-size: 14px;">Sync</span></mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" 
                (click)="openComments(row)">
                      {{row.sync == 0 ? 'False' : 'True' }}  
                </mat-cell>
              </ng-container>

              
              <ng-container matColumnDef="UserType">
                <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                    <span style=" font-family: Calibri;font-size: 14px;">UserType</span></mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" 
                (click)="openComments(row)">
                      {{row.markas_delete == 0 ? 'False' : 'True' }}  
                </mat-cell>
              </ng-container>

              
              <ng-container matColumnDef="Spot Check Monitor">
                <mat-header-cell *matHeaderCellDef  id="font" style=" font-family: Calibri;font-size: 13px;">
                    <span style=" font-family: Calibri;font-size: 14px;">Spot Check Monitor</span></mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" 
                (click)="openComments(row)">
                      {{row.markas_delete == 0 ? 'False' : 'True' }}  
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Patient Name">
                  <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                      <span style=" font-family: Calibri;font-size: 14px;">Patient Name</span></mat-header-cell>
                  <mat-cell *matCellDef="let row; let i = index" 
                  (click)="openComments(row)">
                  &nbsp;  {{row.markas_delete == 0 ? 'False' : 'True' }}  
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Patient Age">
                    <mat-header-cell *matHeaderCellDef  id="font" style=" font-family: Calibri;font-size: 13px;">
                        <span style=" font-family: Calibri;font-size: 14px;">Patient Age</span></mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" 
                    (click)="openComments(row)">
                    &nbsp;  {{row.markas_delete == 0 ? 'False' : 'True' }}  
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Patient Mobile Number">
                      <mat-header-cell *matHeaderCellDef  id="font" style=" font-family: Calibri;font-size: 13px;">
                          <span style=" font-family: Calibri;font-size: 14px;">Patient Mobile Number</span></mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index" 
                      (click)="openComments(row)">
                          &nbsp; {{row.markas_delete == 0 ? 'False' : 'True' }}  
                      </mat-cell>
                    </ng-container>
              


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <br>
        
          <div class="row" style="margin-top: 0rem;">
            <div class="col-5 col-12-sm"></div>
            <div class="col-2 col-12-sm">
              <!-- <mat-form-field>
                <mat-select placeholder="Go to page" [ngModel]="manualPage" (ngModelChange)="updateManualPage($event)">
                  <mat-option *ngFor="let result of manualPageArray" [value]="result">{{result}}</mat-option>
                  
                </mat-select>
              </mat-form-field> -->
            </div>
       
           <div class="col-5 col-12-sm" >
             
              <!-- <mat-paginator [length]="resultsLength" (page)="onPaginateChange($event); clearManualPage()" [pageSize]="10" ></mat-paginator> -->
             
            </div>
         
          </div>
        
        </mat-card>
        
        
        
        
      </div>

    </div>
  </div>
</mat-tab>
<mat-tab  >
    <ng-template mat-tab-label>
        <span [ngClass]="{'color-red':'red'}">&nbsp;&nbsp;&nbsp;Doctor&nbsp;&nbsp;&nbsp;</span>
      </ng-template>
   
    <div  id="patient1" >
        <div class="row"  >
          <div class="col-12" style="width: 100%" >
            <mat-card  class="card " style="margin-top : -1.5rem;  ">
              <mat-table #table [dataSource]="dataSourceDoc"  id='scrollarea-content'>
                 
    
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 12px;">
                      <span style=" font-family: Calibri;font-size: 14px;">Name</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" 
                    (click)="openComments(row)">
                    {{row.firstname }}    
                  </mat-cell>
                  </ng-container>
                  
                <ng-container matColumnDef="Email">
                  <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 12px;">
                    <span style=" font-family: Calibri;font-size: 14px;"> Email</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row; let i = index" 
                  (click)="openComments(row)">
                  {{row.emailid }}    
                </mat-cell>
                </ng-container>
                  
                <ng-container matColumnDef="Phone">
                  <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 12px;">
                    <span style=" font-family: Calibri;font-size: 14px;"> Phone</span>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row; let i = index" 
                   (click)="openComments(row)">
                    {{row.phone_no }}  
                  </mat-cell>      
                </ng-container>
    
                  <ng-container matColumnDef="Speciality">
                    <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;"> 
                      <span style=" font-family: Calibri;font-size: 14px;"> Speciality</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" 
                    (click)="openComments(row)">
                        &nbsp; {{row.speciality }}  
                    </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="Notification">
                    <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;"> 
                      <span style=" font-family: Calibri;font-size: 14px;"> Notification </span></mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" 
                    (click)="openComments(row)" style="width:1rem">
                        &nbsp; {{row.notification_enabled  == 0 ? 'False' : 'True' }}  
                    </mat-cell>
                  </ng-container>
    
                   <ng-container matColumnDef="Disabled">
                    <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                        <span style=" font-family: Calibri;font-size: 14px;">Disabled</span></mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" 
                    (click)="openComments(row)">
                        &nbsp; {{row.markas_delete == 0 ? 'False' : 'True' }}  
                    </mat-cell>
                  </ng-container>
                  
                  

                    <ng-container matColumnDef="View">
                        <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                            <span style=" font-family: Calibri;font-size: 14px;">View</span></mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index" 
                        (click)="openComments(row)">
                            &nbsp; {{row.view == 0 ? 'False' : 'True' }}  
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="Comment">
                          <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                              <span style=" font-family: Calibri;font-size: 14px;">Comment</span></mat-header-cell>
                          <mat-cell *matCellDef="let row; let i = index" 
                          (click)="openComments(row)">
                              &nbsp; {{row.comment == 0 ? 'False' : 'True' }}  
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Forward">
                            <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                                <span style=" font-family: Calibri;font-size: 14px;">Forward</span></mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index" 
                            (click)="openComments(row)">
                                &nbsp; {{row.forward == 0 ? 'False' : 'True' }}  
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="Closure">
                              <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                                  <span style=" font-family: Calibri;font-size: 14px;">Closure</span></mat-header-cell>
                              <mat-cell *matCellDef="let row; let i = index" 
                              (click)="openComments(row)">
                                  &nbsp; {{row.closure == 0 ? 'False' : 'True' }}  
                              </mat-cell>
                            </ng-container>
    
                            <ng-container matColumnDef="ThirdpartyDoctor">
                                <mat-header-cell *matHeaderCellDef id="font" style=" font-family: Calibri;font-size: 13px;">
                                    <span style=" font-family: Calibri;font-size: 14px;">ThirdpartyDoctor</span></mat-header-cell>
                                <mat-cell *matCellDef="let row; let i = index" 
                                (click)="openComments(row)">
                                    &nbsp; {{row.is_thirdparty_doctor == 0 ? 'False' : 'True' }}  
                                </mat-cell>
                              </ng-container>
    
                  <mat-header-row *matHeaderRowDef="displayedColumnsDoc"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsDoc;"></mat-row>
                </mat-table>
                <br>
            
              <div class="row" style="margin-top: 0rem;">
                <div class="col-5 col-12-sm"></div>
                <div class="col-2 col-12-sm">
                  <!-- <mat-form-field>
                    <mat-select placeholder="Go to page" [ngModel]="manualPage" (ngModelChange)="updateManualPage($event)">
                      <mat-option *ngFor="let result of manualPageArray" [value]="result">{{result}}</mat-option>
                      
                    </mat-select>
                  </mat-form-field> -->
                </div>
           
               <div class="col-5 col-12-sm" >
                 
                  <!-- <mat-paginator [length]="resultsLength" (page)="onPaginateChange($event); clearManualPage()" [pageSize]="10" ></mat-paginator> -->
                 
                </div>
             
              </div>
            
            </mat-card>
            
            
            
            
          </div>
    
        </div>
      </div>
    </mat-tab>
</mat-tab-group>
</div>
</div>
 