tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style16
	{mso-number-format:0%;
	mso-style-name:Percent;
	mso-style-id:5;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:#262626;
	font-size:28.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl66
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	white-space:normal;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl67
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl68
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl73
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl74
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid white;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl77
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;
	white-space:normal;}
.xl78
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl79
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl81
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl83
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl85
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl88
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl89
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl90
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl91
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl92
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:center;
	vertical-align:middle;
	white-space:normal;}
.xl93
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl95
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl98
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl99
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl100
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:none;
	border-left:.5pt solid white;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl103
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	white-space:normal;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl104
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl105
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl106
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl107
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl108
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid white;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl109
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl110
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl111
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-style:italic;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl112
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid white;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl113
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl114
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl115
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl116
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	text-decoration:underline;
	text-underline-style:single;
	text-align:left;
	vertical-align:middle;
	white-space:normal;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl117
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl118
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl119
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#8EA9DB;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#8EA9DB;
	mso-pattern:black none;}
.xl121
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid white;
	background:#8EA9DB;
	mso-pattern:black none;
	white-space:normal;}
.xl122
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-style:italic;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl123
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-style:italic;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl124
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-style:italic;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	white-space:normal;}
.xl125
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-style:italic;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl126
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl127
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl128
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border:.5pt solid windowtext;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl129
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#8EA9DB;
	mso-pattern:black none;}
.xl130
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#8EA9DB;
	mso-pattern:black none;}
.xl131
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#8EA9DB;
	mso-pattern:black none;}
.xl132
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid white;
	border-left:.5pt solid white;
	background:#8EA9DB;
	mso-pattern:black none;}
.xl133
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid white;
	background:#8EA9DB;
	mso-pattern:black none;}
.xl134
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#F4B084;
	mso-pattern:black none;}
.xl135
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#FF6600;
	mso-pattern:black none;}
.xl136
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl137
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl138
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	background:#305496;
	mso-pattern:black none;}
.xl139
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#B4C6E7;
	mso-pattern:black none;
	white-space:normal;}
.xl140
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#B4C6E7;
	mso-pattern:black none;
	white-space:normal;}
.xl141
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#B4C6E7;
	mso-pattern:black none;
	white-space:normal;}
.xl142
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl143
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl144
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl145
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl146
	{mso-style-parent:style16;
	color:#262626;
	font-size:10.0pt;
	mso-number-format:0%;
	text-align:left;
	vertical-align:middle;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl147
	{mso-style-parent:style16;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	mso-number-format:0%;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl148
	{mso-style-parent:style16;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl149
	{mso-style-parent:style16;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	mso-number-format:0%;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl150
	{mso-style-parent:style16;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	mso-number-format:0%;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	padding-left:9px;
	mso-char-indent-count:1;}
.xl151
	{mso-style-parent:style16;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	mso-number-format:0%;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl152
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	mso-number-format:Percent;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl153
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl154
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl155
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Calibri Light", sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl156
	{mso-style-parent:style0;
	color:white;
	font-size:13.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#305496;
	mso-pattern:black none;}
.xl157
	{mso-style-parent:style0;
	color:white;
	font-size:13.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#305496;
	mso-pattern:black none;}
.xl158
	{mso-style-parent:style0;
	color:white;
	font-size:13.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#305496;
	mso-pattern:black none;}
.xl159
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#8EA9DB;
	mso-pattern:black none;
	white-space:normal;}
.xl160
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-style:italic;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid white;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl161
	{mso-style-parent:style0;
	color:windowtext;
	font-size:13.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFCCFF;
	mso-pattern:black none;
	white-space:normal;}
.xl162
	{mso-style-parent:style0;
	color:windowtext;
	font-size:13.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFCCFF;
	mso-pattern:black none;
	white-space:normal;}
.xl163
	{mso-style-parent:style0;
	color:windowtext;
	font-size:13.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFCCFF;
	mso-pattern:black none;
	white-space:normal;}
.xl164
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-style:italic;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl165
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-style:italic;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl166
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl167
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	white-space:normal;}
.xl168
	{mso-style-parent:style0;
	color:white;
	font-size:18.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#305496;
	mso-pattern:black none;}
.xl169
	{mso-style-parent:style0;
	color:white;
	font-size:18.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#305496;
	mso-pattern:black none;}
.xl170
	{mso-style-parent:style0;
	color:white;
	font-size:18.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#305496;
	mso-pattern:black none;}
.xl171
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl172
	{mso-style-parent:style0;
	color:white;
	font-size:10.0pt;
	font-weight:700;
	font-family:"Franklin Gothic Book", sans-serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl173
	{mso-style-parent:style0;
	color:#262626;
	font-size:10.0pt;
	font-weight:700;
	font-family:Corbel, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	padding-left:9px;
	mso-char-indent-count:1;}
